[2020-07-30 12:49] vaibhavmali123 opened #160 "Handle incomming calls while video call is in progress"
**How we can Handle incomming calls while video  call is in progress using flutter agora video call SDK please help it's emergency**

[2020-07-31 02:47] LichKing-2234 commented on #160
you can try to add permission.

<uses-permission android:name="android.permission.READ_PHONE_STATE" />

[2020-07-31 02:48] LichKing-2234 commented on #160
<uses-permission android:name="android.permission.READ_PHONE_STATE" />

[2020-07-31 10:50] BhavyaSheth22 commented on #154
Yeah I think that is what happened. I am using VS Code, not Android Studio. When I ran flutter run from an external terminal without using the built in debugger it ran fine. Thanks!

[2020-07-31 10:50] #154 closed

[2020-08-01 04:53] panchalAlpit opened #161 "Is it possible to implement Cloud Recording in Flutter."
Is it possible to implement Cloud Recording in Flutter using [https://pub.dev/packages/agora_rtc_engine](URL) this dependency?
I have checked the [https://docs.agora.io/en/cloud-recording/cloud_recording_api_rest?platform=All%20Platforms#start](URL) But it's not helpful for Flutter.
Thanks

[2020-08-01 08:44] 1yus2yus3 opened #162 "直播模式下，观众角色二次进入没有视频画面"
在使用flutter 1.0.3版本 接入项目时发现，观众角色第一次进入，app有主播的视频画面和声音，退出当前页面后，重新进入直播间，调用的方法都是和第一一样的方法，但是就是没有视频画面，只有声音。从声网的服务端读取channel下的观众列表确实有刚才的观众，但是就是二次没有画面

[2020-08-02 11:06] plutoless commented on #158
1). currently AgoraRtcEngine only transfer stream data, using RTM is a more reliable way to do p2p/channel messaging
2). RTM support offline message, so he will be able to receive the message once he comes back online. you may also achieve this via push notification

[2020-08-02 19:00] AxesandGrinds commented on #50
Is there any update on this? Having the same error.

[2020-08-03 02:21] plutoless commented on #161
Cloud recording is server end restful api and it's recommend to call from your own server.

[2020-08-03 02:48] LichKing-2234 commented on #162
退出页面有leavechannel么

[2020-08-03 03:44] 1yus2yus3 commented on #162
有，调用了leaveChannel，我也在观众角色进入和退出 直播间的时候，我读取了声网的服务端接口，发现用户uid确实在进入时有uid，退出了就没有uid，说明服务端已经接收到了声网客服端的角色，我在官网尝试了工单，他们给出的建议说 吧RTC..的create（ID）方法在整个app中只需要调用一次，我也尝试了 放到了我app的main.dart中，测试发现还是 没有画面只有声音

[2020-08-03 03:47] 1yus2yus3 commented on #162
核心代码如下，：
`@override
  void dispose() async {
    super.dispose();
    _stompClient?.deactivate();
    _scrollController?.dispose();
    _leaveAndStop();
  }

  @override
  void initState() {
    super.initState();
    Wakelock.enable();
    initialize();
    _initWebSocket();
    _addAgoraEventHandlers();
    BlocProvider.of<LiveRoomViewVOBloc>(context)
        .add(LiveRoomViewVORequested(liveRoo

[2020-08-03 03:56] LichKing-2234 commented on #162
为什么你调用setupRemoteVideo？我们widget内部会调用这个函数，你外部再调用传的viewId未必正确

[2020-08-07 07:12] zeeshan1010 commented on #15
@LichKing-2234 @jigarfumakiya any update on this guys? for acceptance screen like whatsapp?

[2020-08-07 07:47] LichKing-2234 commented on #15
@zeeshan1010 as above, you can use FCM to send a notification?

[2020-08-07 07:59] zeeshan1010 commented on #15
@LichKing-2234 with FCM user have to click on notification for openning acceptance screen.Is there any otherway to show direct acceptance screen when user get call when app is in backgound,killed or mobile is in lock mode like whatsapp,fb and other social media apps?

[2020-08-07 08:10] LichKing-2234 commented on #15
@zeeshan1010
Calling screen can be shown using [CallKit(iOS)](https://developer.apple.com/documentation/callkit) and [ConnectionService(Android)](https://developer.android.com/reference/android/telecom/ConnectionService).

[2020-08-07 08:23] zeeshan1010 commented on #15
@LichKing-2234 yes i checked with this in many comments but any real time implementation(demo project) availbale with agora_rtc_engine)? which we can checkout?

[2020-08-07 08:24] zeeshan1010 commented on #15
@LichKing-2234 yes i checked this in many comments but any real time implementation(demo project) availbale with agora_rtc_engine)? which we can checkout?

[2020-08-09 06:47] #155 closed

[2020-08-10 02:56] alexlovar commented on #160
hello, @vaibhavmali123 , can you show an incoming call screen for video calls? could you help me to implement this in this sample?
thanks a lot

[2020-08-10 07:15] jigarfumakiya commented on #15
@zeeshan1010 you can achieve this in Android using service make service and run in the background and wait for your event call.

[2020-08-10 15:26] CharanNampally opened #163 "Unable to stream video using agora_rtc_engine: ^1.0.13 in flutter. Audio works fine"
I am trying to set up a video call using agora flutter SDK in my apps. When we are joining a channel using a channelname, we are able to stream audio, but video streaming works only one way, the other video is struck. Also, we see only caller's video in both sender and receiver views. The same code was working well in the previous agora and flutter versions. Here is the code

[code]

Flutter (Chan

[2020-08-12 02:44] LichKing-2234 commented on #163
is our demo works fine?

[2020-08-12 15:32] Mamun361054 opened #164 "In release version app got crash"
*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
pid: 0, tid: 0 >>> com.aero.aero_meet <<<

backtrace:
  #00  pc 0000000000073430  /apex/com.android.runtime/lib64/bionic/libc.so (abort+160)
  #01  pc 000000000001f058  /data/app/com.aero.aero_meet-DAuhkaGNBGuC7g0sq6NpHQ==/split_config.arm64_v8a.apk

but debug mode woking fine

[2020-08-13 02:54] LichKing-2234 commented on #164
seem like the dump is not from our SDK.
https://github.com/flutter/flutter/issues/63374

[2020-08-13 07:42] alidemircans commented on #48
I integrated it into my project. I tested it in debug mode it worked. But when you publish it on google play, the application closes.

[2020-08-13 10:05] djdivesh007 commented on #18
Can u give latest example link...and Even i am facing the same issue of half screen on users side !

[2020-08-13 10:57] LichKing-2234 commented on #48
@alidemircans what version have you used?

[2020-08-13 10:59] LichKing-2234 commented on #18
@djdivesh007
maybe you forget set video encoder config. the default size is 640*360.
https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/tree/dev/3.0.1

[2020-08-15 09:49] RuhaanSharma commented on #158
I am facing same issue in your demo app ?
Should I avoid using AgoraRtmClient if users are not receiving offline message yet ?

[2020-08-16 07:52] hamodass commented on #19
I'm Using Agora with flutter and it's work fine in emulator but when i install it in real device after i Enter ch name the app close by itself?

[2020-08-16 07:52] LichKing-2234 commented on #158
@RuhaanSharma

[2020-08-16 07:55] LichKing-2234 commented on #19
@hamodass any crash log?

[2020-08-16 08:05] Janvi1310 commented on #53
any depencency in pubspec foe making work on android device ??

[2020-08-16 13:24] RuhaanSharma commented on #158
@LichKing-2234
So for my purpose user can send offline message and can see chat history, RTM SDK will not be able to provide these features at the moment.
I will look forward to any other solution at the moment.
Thanks for clearing my doubts and letting me go on another path.

[2020-08-17 15:25] #158 closed

[2020-08-17 15:27] plutoless commented on #160
we have native demo at https://github.com/AgoraIO-Usecase/Video-Calling
maybe you can take a look at that first. for the moment we have no plans to make such a demo for flutter, you may search for existing flutter plugins to achieve this though.

[2020-08-17 15:27] #160 closed

[2020-08-18 12:12] hongjiasheng opened #165 "How to achieve full-screen reduced-screen playback?"
Our company has based on your SDK, and we are currently developing an App, and we have encountered a problem. How to achieve full screen/reduced screen playback? At the beginning of the zoom routing page, after adding to the channel, we create AgoraRenderWidget, the user clicks on the full screen button, jump Go to the full-screen routing page and we will pass the AgoraRenderWidget. The full-scree

[2020-08-19 01:16] NitoBa commented on #163
I have a similar problem, when I join in a channel that I created in another device, the audio works but I'm not see the video.

[2020-08-19 02:17] NitoBa opened #166 "Black Screen in audience side app"
I'm trying to do a broadcast app. The side broadcast works but the audience side app receive only audio, the screen audience is black.
I follow all rules on readme and the sample app quickstart

[2020-08-19 09:10] elaishane commented on #164
Try to Use Proguard Rules.

[2020-08-19 11:09] djdivesh007 commented on #18
These are my settings i have set

  AgoraRtcEngine.setParameters(
        '{\"che.video.lowBitRateStreamParameter\":{\"width\":640,\"height\":360,\"frameRate\":30,\"bitRate\":1000}}');
    AgoraRtcEngine.setParameters("{\"rtc.log_filter\": 65535}");
    AgoraRtcEngine.setClientRole(ClientRole.Audience);
    AgoraRtcEngine.setChannelProfile(ChannelProfile.LiveBroadcasting);
    VideoEncoderConfigur

[2020-08-19 15:59] tanmoy27112000 commented on #164
I was not able to find the progaurd rule file anywhere. Do I need to create a new file?

[2020-08-24 02:55] LichKing-2234 commented on #166
have you enableVideo and set client role to the broadcaster?

[2020-08-24 03:01] LichKing-2234 commented on #18
What have you set on your broadcast client?

[2020-08-24 03:11] LichKing-2234 commented on #164
@tanmoy27112000 if you use the dev version, you can use our SDK without progaurd.

https://github.com/AgoraIO/Flutter-SDK/blob/master/android/consumer-rules.pro

[2020-08-24 03:29] LichKing-2234 commented on #165
Can you provide sample code for this function

[2020-08-24 21:51] elaishane commented on #164
Yes you do need to create a Proguard file in Android > app directory
Search for proguard in Android on web and you shall find it 😁😁

[2020-08-25 02:52] plutoless commented on #163
@NitoBa could you pls share the channel name you used and datetime when you did the testing so that i can take a look from our backend?

[2020-08-28 08:42] #161 closed

[2020-08-28 08:42] #149 closed

[2020-08-28 08:43] LichKing-2234 commented on #147
dev version support it

[2020-08-28 08:43] #147 closed

[2020-08-28 08:43] #145 closed

[2020-08-28 08:44] #144 closed

[2020-08-28 08:44] LichKing-2234 commented on #143
you can reopen this issue if the problem still exists.

[2020-08-28 08:44] #143 closed

[2020-08-28 08:45] LichKing-2234 commented on #142
you can reopen this issue if the problem still exists.

[2020-08-28 08:45] #142 closed

[2020-08-28 08:45] LichKing-2234 commented on #140
you can reopen this issue if the problem still exists.

[2020-08-28 08:45] #140 closed

[2020-08-28 08:45] LichKing-2234 commented on #139
you can reopen this issue if the problem still exists.

[2020-08-28 08:45] #139 closed

[2020-08-28 08:46] LichKing-2234 commented on #137
you can reopen this issue if the problem still exists.

[2020-08-28 08:46] #137 closed

[2020-08-28 08:46] LichKing-2234 commented on #136
you can reopen this issue if the problem still exists.

[2020-08-28 08:46] #136 closed

[2020-08-28 08:46] LichKing-2234 commented on #135
you can reopen this issue if the problem still exists.

[2020-08-28 08:46] #135 closed

[2020-08-28 08:46] LichKing-2234 commented on #126
you can reopen this issue if the problem still exists.

[2020-08-28 08:46] #126 closed

[2020-08-28 08:46] LichKing-2234 commented on #123
you can reopen this issue if the problem still exists.

[2020-08-28 08:46] #123 closed

[2020-08-28 08:47] LichKing-2234 commented on #111
you can reopen this issue if the problem still exists.

[2020-08-28 08:47] #111 closed

[2020-08-28 08:47] LichKing-2234 commented on #97
you can reopen this issue if the problem still exists.

[2020-08-28 08:47] #97 closed

[2020-08-28 08:47] LichKing-2234 commented on #96
you can reopen this issue if the problem still exists.

[2020-08-28 08:47] #96 closed

[2020-08-28 08:47] LichKing-2234 commented on #84
you can reopen this issue if the problem still exists.

[2020-08-28 08:47] #84 closed

[2020-08-28 08:47] LichKing-2234 commented on #51
you can reopen this issue if the problem still exists.

[2020-08-28 08:47] #51 closed

[2020-08-28 08:48] LichKing-2234 commented on #49
you can reopen this issue if the problem still exists.

[2020-08-28 08:48] #49 closed

[2020-08-28 08:48] LichKing-2234 commented on #43
you can reopen this issue if the problem still exists.

[2020-08-28 08:48] #43 closed

[2020-08-28 08:49] LichKing-2234 commented on #5
dev version support it.

[2020-08-28 08:49] #5 closed

[2020-08-28 08:50] LichKing-2234 commented on #7
you can reopen this issue if the problem still exists.

[2020-08-28 08:50] #7 closed

[2020-08-28 08:50] LichKing-2234 commented on #16
you can reopen this issue if the problem still exists.

[2020-08-28 08:50] #16 closed

[2020-08-28 08:50] LichKing-2234 commented on #17
you can reopen this issue if the problem still exists.

[2020-08-28 08:50] #17 closed

[2020-08-28 08:50] #23 closed

[2020-08-28 08:50] LichKing-2234 commented on #24
you can reopen this issue if the problem still exists.

[2020-08-28 08:50] #24 closed

[2020-08-28 08:50] LichKing-2234 commented on #27
you can reopen this issue if the problem still exists.

[2020-08-28 08:50] #27 closed

[2020-08-28 08:51] LichKing-2234 commented on #34
you can reopen this issue if the problem still exists.

[2020-08-28 08:51] #34 closed

[2020-08-28 08:51] LichKing-2234 commented on #35
you can reopen this issue if the problem still exists.

[2020-08-28 08:51] #35 closed

[2020-08-28 08:51] LichKing-2234 commented on #37
you can reopen this issue if the problem still exists.

[2020-08-28 08:51] #37 closed

[2020-08-28 08:51] LichKing-2234 commented on #38
you can reopen this issue if the problem still exists.

[2020-08-28 08:51] #38 closed

[2020-08-28 08:52] LichKing-2234 commented on #39
you can reopen this issue if the problem still exists.

[2020-08-28 08:52] #39 closed

[2020-08-28 08:54] LichKing-2234 commented on #40
you can use RTM to send image, but the function not support on Flutter at now.

[2020-08-28 08:54] #40 closed

[2020-08-28 19:27] hussenIbrahim opened #167 "number of user in the channel"
how to get number of users in the channel , if already there is users joined to the channel ?

[2020-08-29 04:53] GhostWalker562 commented on #163
Also having this problem

[2020-08-29 15:23] jacksonw765 opened #168 "Users go offline when switching screen"
I create an instance of agora on screen 1 and all users join. Everything works great no issues.

When the a user switches screen via Navigator.pushReplacement(), the callback "onUserOffline" is triggered and all the calls drop.

Is there anyway to fix this? I want to have the call stay connected regardless of what screen is shown. Using Flutter 1.21.0-9.2.pre.

Thanks in advance.

[2020-08-31 02:51] LichKing-2234 commented on #167
after you join the channel, onUserJoined will give you all of the broadcasters in the channel.

[2020-08-31 02:55] LichKing-2234 commented on #168
if you did not call the `destroy` or `leaveChannel` method, the communication should keep.

[2020-08-31 04:38] jacksonw765 commented on #168
Yeah that's what I thought too. It works fine on stable but beta is where it seems to be iffy. Thanks for the help! I'll close this issue since I found the answer.

[2020-08-31 04:38] #168 closed

[2020-08-31 18:55] mrpvb-pvbk opened #169 "How to removeNativeView at 3.0.x version?"
I have an app where the feed consists of live streams (PageView). When scrolling, the current moment should be played back, and the last one will be deleted.

[2020-09-01 02:42] LichKing-2234 commented on #169
do you mean how to remove the rendered widget?

[2020-09-01 06:51] mrpvb-pvbk commented on #169
Yes

[2020-09-01 07:15] Ranjithsp6 opened #170 "knowing video or audio is disabled"
Is there any functions that we can use to check whether the video or audio is disabled?

[2020-09-01 07:28] LichKing-2234 commented on #169
just do not render it in `Widget build(BuildContext context)`

[2020-09-01 07:33] LichKing-2234 commented on #170
only can get it from the event listener.
[code]

[2020-09-01 07:35] LichKing-2234 commented on #170
you can refer to https://docs.agora.io/en/Video/API%20Reference/java/classio_1_1agora_1_1rtc_1_1_i_rtc_engine_event_handler.html#a93ebe88d2544253bf4b13faf34873131

[2020-09-01 08:29] mrpvb-pvbk commented on #169
My bad. I just had to set a condition to check whether the desired screen is currently open) Sorry to bother you for nothing

[2020-09-01 08:29] #169 closed

[2020-09-03 10:56] tushardubey121 commented on #15
Hey, @**jigarfumakiya** please reopen this. there is no update on that. I am also using firebase to chive that functionality.

[2020-09-03 12:38] vladimircores opened #172 "Access denied finding property "net.dns1""
Latest version of Agora: `agora_rtc_engine: 3.0.1-dev.7`

[code]

On Android emulator screen:
![Screenshot 2020-09-03 at 14 33 42](https://user-images.githubusercontent.com/442111/92115670-1302ae00-edf3-11ea-97a3-c213045cb3a8.png)

Logs:

[code]

Appreciate any help.

[2020-09-03 13:02] LichKing-2234 commented on #172
![image](https://user-images.githubusercontent.com/9312526/92118229-c4700680-ee28-11ea-8501-64ba77e994ad.png)
your token is invalid.

[2020-09-03 20:36] vladimircores commented on #172
Hey @LichKing-2234 thanks for the answer. But what is the token, and where can I find the valid one?

[2020-09-04 03:27] LichKing-2234 commented on #172
please refer to this doc.
https://docs.agora.io/en/Agora%20Platform/token?platform=All%20Platforms#app-id

[2020-09-04 04:03] vladimircores commented on #172
So, if I'm understanding it correctly I have to use the API method to generate token before join the call, right?
And use for this purpose special method `buildTokenWithUid` but in Flutter Agora SDK I can't find it.

<img width="550" alt="Screenshot 2020-09-04 at 05 54 18" src="https://user-images.githubusercontent.com/442111/92198143-ea6ec880-ee73-11ea-9b94-d5adb996f488.png">

Also in documentati

[2020-09-04 04:22] LichKing-2234 commented on #172
build uid should implement on server

you can use the temp token when you test. the doc also contains it.

[2020-09-05 16:22] mrpvb-pvbk opened #173 "3.0.x for release apk"
Currently, it is not possible to use this version of plugin for release build.
Use this command: `flutter run --release` I get the apk file and after installing and running I get this:
[code]
Debug works fine.

[2020-09-07 08:06] LichKing-2234 commented on #173
which version you used.

[2020-09-07 13:35] Ausyys opened #174 "How To Show Live Users"
Hi guys, I have been having lots of difficulties displaying live users from the firestore when they are live but when they not live a text should display saying "User Not Live". I have already listened to the firestore DB for live users which is working but whenever I launch the app, it always gives me an error saying the `displayName` is null, or the `bool` value = `isLive` is null. But I already

[2020-09-07 14:43] LichKing-2234 commented on #174
Is this problem related to our SDK?

[2020-09-07 23:22] alexlovar opened #175 "[embedding] Upgrading Pre 1.12 Android Projects Breaks Plugin"
hello, after update to [embedding] Upgrading Pre 1.12 Android Projects Breaks Plugin

i follow the instructions from:
https://flutter.dev/docs/development/packages-and-plugins/plugin-api-migration

before this change the plugin works good , but now i have the follow error:

`
[code]
`

[2020-09-08 03:52] LichKing-2234 commented on #175
could you provide a demo? I will test it and try to fix it.

[2020-09-08 09:15] A7Aima opened #176 "How can i create a dial screen before opening agora file"

[2020-09-08 10:19] mrpvb-pvbk commented on #173
dev 7, flutter stable 1.20.2

[2020-09-08 15:57] Ausyys commented on #174
@LichKing-2234 yes it is

[2020-09-08 15:58] Ausyys commented on #174
@LichKing-2234 whenever I run the code it tells me that the `bool` value `isLive` is null, but it is not because I set it to `true` above, but it's still gives me that error.

[2020-09-08 16:00] Ausyys commented on #174
@LichKing-2234 basically what I'm trying to do is to listen for live users and display them but if there aren't any live users then a text should display saying `There is no live users`. I have already set the fire store for this and it's working ... All I need now is to get those live users to display on the homepage

[2020-09-08 21:44] wizhob2020 opened #177 "Black Screen over video call."
After doing all setup of Agora SDK in my (Flutter )project all things are working, except video screen. i.e I got channel info as well as broad cast id. even sound , but video are black.

[2020-09-08 22:46] mmorales-nubceo commented on #173
@mrpvb-pvbk have you tried this?
https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart#android-release-crash
I'm using flutter dev channel latest

[2020-09-08 22:52] desarrollomaxijoga10 commented on #173
@mrpvb-pvbk have you tried this https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart#android-release-crash?

[2020-09-09 02:49] LichKing-2234 commented on #174
But I can not see any code about agora SDK.

[2020-09-09 02:58] LichKing-2234 commented on #177
is our demo working?

[2020-09-09 03:04] LichKing-2234 commented on #176
you can use FCM or our RTM SDK to send a dial message and show the dial screen.

[2020-09-09 07:55] #172 closed

[2020-09-09 08:46] Ausyys commented on #174
@LichKing-2234 yes, it leads to that page. Once the join button is clicked, that's what I am having challenges with.

[2020-09-09 12:10] LichKing-2234 commented on #174
I think you need to get live users before join RTC channel?

[2020-09-09 17:08] Ausyys commented on #174
@LichKing-2234 Yesss, that's what I'm trying to do... But I don't know how

[2020-09-09 17:08] Ausyys commented on #174
@LichKing-2234 Yess, and if there is no live users then a text should display

[2020-09-09 17:09] Ausyys commented on #174
@LichKing-2234 simply meaning that the users will only join when there is a live host

[2020-09-10 03:31] LichKing-2234 commented on #174
you can refer to this [doc](https://docs.agora.io/en/Agora%20Platform/dashboard_restful_communication#online-channel-statistics-query)

[2020-09-10 07:28] Bharavi26 opened #178 "InvalideToken"
i am new with agora sdk in flutter,
i just run example demo and on screen it retuns Invalidtoken error

[2020-09-10 07:32] LichKing-2234 commented on #178
you can refer to https://docs.agora.io/en/faq/token_error

[2020-09-10 07:37] Bharavi26 commented on #178
@LichKing-2234 sir,
in agora flutter example , there is not any token related code,
i set my account in agora test mode didn't make any changes n got appid n added in setting.dart in example code

[2020-09-10 07:53] LichKing-2234 commented on #178
the first param is token.
`await _engine.joinChannel(null, widget.channelName, null, 0);`
could you share a screen capture about your appId certification?

[2020-09-10 08:11] Bharavi26 commented on #178
i enable certificate manually from agora account n generated test token from panel n put in code, then camera works in **ClientRole.Broadcaster** but black screen in **ClientRole.Audience**

[2020-09-10 08:12] LichKing-2234 commented on #178
The audience can not broadcast media stream.

[2020-09-10 10:08] vitulgoyani commented on #177
same black screen issue I added that you suggest in note.txt but after in release APK black screen is in video call

[2020-09-10 11:15] vitulgoyani commented on #177
no, your demo also not working with the release APK

[2020-09-11 08:57] umeshlakhani7170 commented on #177
i have also same black screen issue when i made release APK.
i also tried that you suggest in readme.txt file
please help us.
Thank you🙏🏼

[2020-09-11 13:07] lucasNewSharp commented on #178
Hi I find out why the we get invalid token on examle projetct. When we create an Agora account, one project is automatically created, and we can't change certificate configuration on edit project. What I did was, create a new project on the console. Creating a new project we can set just APP ID as security mode and when you click on "Edit" project you can enable the certificate if you want. So cre

[2020-09-11 17:50] wizhob2020 commented on #177
Dear AgoraIO-Community/Agora-Flutter-Quickstart

Yes Demo is working fine, but i migrate the same code in my project,then
facing the same issue.

On Wed, 9 Sep 2020 at 08:28, Arthas <notifications@github.com> wrote:

[2020-09-11 17:54] wizhob2020 commented on #177
Dear AgoraIO-Community/Agora-Flutter-Quickstart

Demo is alo not working fine because I am getting too much echo on the
recipient side.

Please help me i am really stuck,

On Fri, 11 Sep 2020 at 23:19, Ankur Wadhawan <wizhob@gmail.com> wrote:

[2020-09-12 01:35] alexlovar commented on #175
looks like the plugin require a local properties file, with the sdk path include inside
the plugin is searching for local.properties and the file does not exist, is necessary to manually create in the path that is provide by the error info.

[2020-09-12 01:35] #175 closed

[2020-09-13 09:12] SalilThreeplus opened #179 "Getting error Could not signal service com.apple.WebKit.WebContent"
When I add the io.flutter.embedded_views_preview flag in info plist and I get the error Could not signal service com.apple.WebKit.WebContent: 113: Could not find specified service and the application is stuck on splash screen. If I don't add this flag then I get the black screen on iOS.
Any help is appreciated.

Below is the Info.plist ss

<img width="1680" alt="Screenshot 2020-09-13 at 2 53 44 PM

[2020-09-13 12:17] plutoless commented on #174
@Ausyys the api provided above is our restful console api. it's more oriented for project management instead of using in real-life business logics. we would suggest you to manage this yourself, e.g. creating a websocket server to see if there's live host connecting to your server or not.

[2020-09-13 12:20] plutoless commented on #177
@wizhob2020 echo happens usually when you have two devices join the same channel and they are too close.

[2020-09-13 12:35] LichKing-2234 commented on #179
it seems like a problem from WKWebView.

https://stackoverflow.com/questions/40811887/could-not-signal-service-com-apple-webkit-webcontent

[2020-09-13 12:57] LichKing-2234 commented on #177
@vitulgoyani
I have test our demo, it works when released.
https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/tree/master

by the way, make sure your version is > [3.0.1-dev.5](https://github.com/AgoraIO/Flutter-SDK/blob/master/CHANGELOG.md#301-dev5)

[2020-09-13 14:51] SalilThreeplus commented on #179
But where do I configure that? I am using plugin like agora and google maps that are dependent on WKWebView, I do not have any custom code.

[2020-09-14 02:03] plutoless commented on #178
@lucasNewSharp  correct.

[2020-09-14 02:14] pirateani01 commented on #178
i inserted the appId correctly but it is showing invalid token error.
please help me out.

[2020-09-14 03:12] LichKing-2234 commented on #178
@pirateani01 you can refer to this comment.

[2020-09-14 03:22] LichKing-2234 commented on #179
maybe you can follow this issue.
https://github.com/flutter/flutter/issues/58231

[2020-09-14 03:23] pirateani01 commented on #178
What if we have to create a unique token and then run the app?

[2020-09-14 03:26] LichKing-2234 commented on #178
you can create a project without the certificate. but it is not safe.

[2020-09-14 03:54] umeshlakhani7170 commented on #177
in your git tutorial demo, i think are you use 3.0.1-dev.7 version. and by your suggestion i also try 3.0.1-dev.5 version but same problem black screen at video calling screen.

[2020-09-14 07:02] LichKing-2234 commented on #177
@umeshlakhani7170 could you release our demo to apk file? Then I can test it.

[2020-09-14 07:31] umeshlakhani7170 commented on #177
i can't share more then 10 mb file, so can you give me you mail address?

[2020-09-14 07:46] umeshlakhani7170 commented on #177
This is release APK with this command -> flutter build apk --release

https://sendgb.com/VZlAKMiPewo

[2020-09-14 08:29] LichKing-2234 commented on #177
@umeshlakhani7170 seem like the `consumer-rules.pro` not work. could you pls check is the file exists? locate to `agora_rtc_engine/android/consumer-rules.pro`

[2020-09-14 08:31] LichKing-2234 commented on #177
if it not work, you can add these to your `app/proguard-rules.pro`

[2020-09-14 08:54] umeshlakhani7170 commented on #177
- This file not in your github demo code

[2020-09-14 09:56] umeshlakhani7170 commented on #177
i added this code in app/proguard-rules.pro and made one release APK that not work 😥

[2020-09-14 10:54] lucasNewSharp commented on #178
Another thing, they will stop with the APP ID security level, so, it's better work with token anyway. https://docs.agora.io/en/Agora%20Platform/token?platform=All%20Platforms

[2020-09-14 11:28] LichKing-2234 commented on #177
@umeshlakhani7170 could you provide your demo project?

[2020-09-14 11:34] LichKing-2234 commented on #177
@umeshlakhani7170
you should refer to this doc to config proguard.
https://developer.android.com/studio/build/shrink-code#enable

[2020-09-14 11:35] umeshlakhani7170 commented on #177
[video_conference_demo-master.zip](https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/files/5218113/video_conference_demo-master.zip)

[2020-09-14 12:04] LichKing-2234 commented on #177
@umeshlakhani7170
you miss flutter proguard config.
[code]

[2020-09-14 12:17] umeshlakhani7170 commented on #177
This is grate help 👍🏼

[2020-09-14 20:44] Ausyys commented on #174
@plutoless ok thanks.🙏

[2020-09-15 08:13] wizhob2020 commented on #177
Dear AgoraIO-Community/Agora-Flutter-Quickstart

@Qianze Zhang  yes,

On Sun, 13 Sep 2020 at 17:51, Qianze Zhang <notifications@github.com> wrote:

[2020-09-15 08:19] wizhob2020 commented on #177
Dear AgoraIO-Community/Agora-Flutter-Quickstart

 @Arthas

I have done the changes, but am still facing the same problem. As per
reference, I have attached my project environment demo app as given below:
https://drive.google.com/file/d/1xzhqVeCag7FPbWPiCqZwt_75WtPpYVK7/view?usp=sharing

Dear team please see the demo app and correct me if i am doing wrong steps.

On Mon, 14 Sep 2020 at 17:47, Umesh

[2020-09-15 10:33] SalilThreeplus commented on #179
Application is working fine in debug mode, video calling is working, but when I set io.flutter.embedded_views_preview to YES it sticks at splash screen, there are also no errors.

[2020-09-15 12:01] LichKing-2234 commented on #177
@wizhob2020 What is your problem? getting too much echo on the
recipient side? are video and audio works?

[2020-09-15 12:27] wizhob2020 commented on #177
Dear AgoraIO-Community/Agora-Flutter-Quickstart

@Arthas  The root problem is black Screen in video call.

On Tue, 15 Sep 2020 at 17:31, Arthas <notifications@github.com> wrote:

[2020-09-15 12:31] wizhob2020 commented on #177
Hi AgoraIO-Community/Agora-Flutter-Quickstart

@Arthas Please see the Demo App, Please correct me where i am lacking.

On Tue, 15 Sep 2020 at 17:57, Ankur Wadhawan <wizhob@gmail.com> wrote:

[2020-09-15 13:41] manyopensource commented on #177
Seven days ago encountered the same black screen issue! If nothing has changed since then I believe it's still there!

[2020-09-15 13:53] wizhob2020 commented on #177
Hi AgoraIO-Community/Agora-Flutter-Quickstart

Dear Team thanks for quick response, Actually i have followed the
conversion as had with @ Umesh L Lakhani and I have modified the
progard-rule file but still facing the Same problem of black screen.   And
Also have attached my project Environment demo App, so this is a humble
request please see and mark the culprit point of the code snippet.

Demo Ap

[2020-09-15 15:21] LichKing-2234 commented on #177
@wizhob2020 @manyopensource black screen only on release mode?

[2020-09-15 15:24] LichKing-2234 commented on #177
Our demo works fine whatever debug or release, you can clone and try it.

[2020-09-15 15:28] LichKing-2234 commented on #173
refer to this.
https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/issues/177#issuecomment-692008309

[2020-09-15 15:28] #173 closed

[2020-09-15 15:29] LichKing-2234 commented on #177
@wizhob2020 Sorry, your project is too large. any log when black screen? such as:
[code]

[2020-09-15 15:36] LichKing-2234 commented on #179
I will test it

[2020-09-15 15:37] LichKing-2234 commented on #179
have you try our demo in release mode?

[2020-09-15 15:39] #174 closed

[2020-09-15 15:41] #178 closed

[2020-09-15 15:43] #170 closed

[2020-09-15 16:34] wizhob2020 commented on #177
Hi AgoraIO-Community/Agora-Flutter-Quickstart

@Author <author@noreply.github.com>  I am happy for your quick response.
Please see the log as well as record the video.

LOG
W/IInputConnectionWrapper(14124): getTextBeforeCursor on inactive
InputConnection
W/IInputConnectionWrapper(14124): getSelectedText on inactive
InputConnection
W/IInputConnectionWrapper(14124): getTextAfterCursor on inactive
In

[2020-09-16 14:41] wizhob2020 commented on #177
Dear AgoraIO-Community/Agora-Flutter-Quickstart and Author

I am Still waiting for your response.

On Tue, 15 Sep 2020 at 22:04, Ankur Wadhawan <wizhob@gmail.com> wrote:

[2020-09-17 03:12] LichKing-2234 commented on #177
@wizhob2020 I will try your project.

[2020-09-17 06:15] LichKing-2234 commented on #177
@wizhob2020 I need the log from your logcat, and your device android version.

[2020-09-17 08:32] LichKing-2234 commented on #177
@wizhob2020 why add `debugDefaultTargetPlatformOverride = TargetPlatform.fuchsia;`?
our SDK only supports Android and iOS now. remove this line will work.

[2020-09-17 09:00] wizhob2020 commented on #177
Dear AgoraIO-Community/Agora-Flutter-Quickstart,

@Arthas

Awesome, Thanks for your uncountable and speechless support.

On Thu, 17 Sep 2020 at 14:03, Arthas <notifications@github.com> wrote:

[2020-09-17 09:14] #177 closed

[2020-09-20 05:06] swapnens opened #180 "Readme"
Can you please update the readme as per the latest changes? It is quite confusing that the readme and the app do not have the same version.
For example, for a video chatting app should both parties be a broadcaster or audience, or is that feature not supported anymore?

[2020-09-20 06:19] skippetr opened #181 "Example doesn't work because of InvalidToken error"
Steps to reproduce:

- download git
- paste APP_ID
- run

Appears `onError: ErrorCode.InvalidToken`.

[2020-09-21 03:20] LichKing-2234 commented on #181
you can refer to:
https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/issues/178

[2020-09-21 03:20] #181 closed

[2020-09-21 03:21] LichKing-2234 commented on #180
both are broadcaster

[2020-09-23 09:55] hongjiasheng opened #182 "全屏和缩小屏显示声网的视频"
我们公司使用贵司的声网传输功能，目前flutter app端要实现全屏界面播放，从小屏界面跳转到全屏横屏显示视频;
测试发现，在从小屏 -> 全屏 -> 小屏 播放视频中，偶尔会出现黑屏，切换几次后又正常，能给我一些建议或者有没有demo实现这样效果?

小屏视频部分代码如下,  _viewRows里包裹的是 AgoraRenderWidget, 有远程用户加入通道后，传递uid 构造AgoraRenderWidget(uid), 用户点击了全屏按钮后 navigator跳转到全屏界面,用户在全屏界面点击缩小键跳转回小屏界面

Hero(
              tag: "player",
              child: Stack(
                alignment: Alignment.topCenter,
                childr

[2020-09-23 10:53] LichKing-2234 commented on #182
建议使用prerelease版本进行测试

[2020-09-23 11:21] hongjiasheng commented on #182
prerelease是哪个版本?

[2020-09-23 11:46] LichKing-2234 commented on #182
![image](https://user-images.githubusercontent.com/9312526/94008331-6a35e600-fdd5-11ea-8a25-34c024c48957.png)

[2020-09-23 12:29] hongjiasheng commented on #182
这个版本稳定么，能解决我上面提的问题么?我们已经发布使用了，开发时候还是
agora_rtc_engine: ^1.0.13

[2020-09-23 13:34] MungaraJay opened #183 "Flutter Agora SDK - How to generate token for joining channel?"
Hello @plutoless @LichKing-2234 @Matrixbirds @VictorUvarov @azkdev @PRWrl @koudle @Akchy

I was trying agora demo and i wanted to stream a channel. For now, i am generating a channel "Channel 1" from dashboard and taking token from there and setting it to the following method.

`await_engine.joinChannel("Your_Token", "Channel 1", null, 0);`

So, others can now join using that token and name. But,

[2020-09-23 14:05] Akchy commented on #183
Hey @MungaraJay, actually for joining a channel you need to have the channel ID only. The tokens are used for security purposes (I think, I'm not sure). So tokens are not needed for just joining the channel in flutter.

[2020-09-23 14:09] MungaraJay commented on #183
Hey @Akchy

Thanks for quick reply.

So from where can i get this channel id?

[2020-09-23 14:15] Akchy commented on #183
Yes the channel id the unique name which the users can join.

I'm sorry haven't generated token. Hope someone else help you in that.

😁

[2020-09-23 15:19] LichKing-2234 commented on #183
@MungaraJay you can refer to:
https://docs.agora.io/en/Agora%20Platform/token?platform=All%20Platforms

[2020-09-23 17:12] MoustafaElsaghier commented on #50
same issue, any update?

[2020-09-23 19:28] swapnens commented on #172
Hi @vladimircores
I am glad you solved the issue. Could you please elaborate on the solution?
I face the same issue.

Log:
`Running "flutter pub get" in avey...                                1.8s
Using hardware rendering with device Android SDK built for x86. If you notice graphics artifacts, consider enabling software rendering with "--enable-software-rendering".
Launching lib\main.dart on Andro

[2020-09-24 03:41] LichKing-2234 commented on #50
@AxesandGrinds @MoustafaElsaghier Could you pls give more infomation?

[2020-09-24 04:38] MungaraJay commented on #183
@Akchy @LichKing-2234 where do i have to pass the channel id when joining? i mean which method and param?

[2020-09-24 06:49] akshay-02 opened #184 "Not able to join channel on the basis of APP_ID and channel name"
Hi,
I'm trying to join a channel by using method
joinChannel(null, widget.channelName, null, 0) but I'm not able to. It is giving token error.

When I create a temporary token from Agora console for a given channel name, then video streaming is possible.
joinChannel(temp_token, channelName, null, 0)

Is there any way to directly join the channel or dynamically create temporary token for given chan

[2020-09-24 08:41] MungaraJay commented on #65
@LichKing-2234 @VictorUvarov @plutoless @PRWrl

Can you please tell me how can i import this AgoraRenderWidget ?

I am not able to find it. I am using agora_rtc_engine: ^3.0.1-dev.7?

Is there any changes for this widget?

[2020-09-24 11:12] SalilThreeplus commented on #179
This is working fine now, there was some error when running code in widgetInitialised method, I shifted all the code to initState and it worked.

[2020-09-24 11:12] #179 closed

[2020-09-24 13:04] jabonge commented on #184
you should make new project and select App_id authentication Then you can do joinChaneel(null,channelName,null,0) in TestMode

[2020-09-24 13:27] Akchy commented on #183
@MungaraJay in line no 64 of call.dart in this repo, there is a fuction to join channel with channelName as argument, thats the place where you want to pass the same channel name for same channel.

file location
lib > scr > pages > call.dart

[2020-09-24 13:31] Akchy commented on #183
@MungaraJay  It could be better if you ask the error in the slack group. Mostly the code should work, dont know why its coming.

[2020-09-25 03:38] LichKing-2234 commented on #65
@MungaraJay You can refer to the quickstart

[2020-09-25 18:26] Bonasnelson commented on #184
it is t

it is till showing me the same error

[2020-09-25 19:14] mrpvb-pvbk commented on #174
What about to get count of all joined users in stream(audience too)?

stats.users shows only broadcaster type

[2020-09-26 13:54] mrpvb-pvbk opened #185 "[Question] How to get the number of connected users(ClientRole.Audience), not those who streaming?"

[2020-09-27 02:00] plutoless commented on #184
@Bonasnelson how did you create the new project with appid only? did you update the new project appid into your project? the way described by @jabonge should be working. are you still seeing a token error?

[2020-09-28 03:12] LichKing-2234 commented on #185
same as https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/issues/174

[2020-09-28 03:12] #185 closed

[2020-09-28 03:13] LichKing-2234 commented on #174
@mrpvb-pvbk you can see this doc, as @plutoless said, we would suggest you to manage this yourself.

[2020-09-30 08:05] vladimircores opened #186 "iOS crash with Unsupported value: __C.AgoraConnectionStateType of type __SwiftValue"
On iOS emulator when Agora dispose called this error occurs and crash application:
[code]
Any clue?

[2020-09-30 09:28] LichKing-2234 commented on #186
could provide complete crash dump?

[2020-09-30 17:26] MrPengueeen opened #187 "Is there any way to check if a live session is already going on with the same channel before joining the channel as an audience?"
I wanna know if there exists a way by which I can check if a specific channel has at least one broadcaster. I want to prevent an user from joining a channel as an audience that has no broadcaster or maybe stop the streaming when all the broadcasters leave. If no one has joined a specific channel as a broadcaster, an audience can still join the same channel. Of course, the view for that audience re

[2020-10-01 08:36] plutoless commented on #187
you will have to set up a backend service to manage this kind of information.

[2020-10-01 10:53] vladimircores opened #188 "iOS: Streaming results in black screen."
Can't see stream on iOS 13
[code]
Use the same code as on Android
![ec5d8752-b6ce-4566-a5e7-b1c919ef76b2](https://user-images.githubusercontent.com/442111/94800682-38300f80-03e5-11eb-8982-86fbd88777f7.jpeg)

[2020-10-01 10:56] vladimircores commented on #186
@LichKing-2234 here it's, the log:
[code]

[2020-10-01 11:11] vladimircores commented on #186
And after "million times" clicks on Continue this is what else XCode shows:
[code]

[2020-10-01 11:22] vladimircores commented on #188
Probably this error is not a real cause of the problem, but something else on iOS side.

[2020-10-01 12:09] vladimircores commented on #186
We've found what was the problem - `final state = await _engine.getConnectionState();` is the reason of crash on iOS.

[2020-10-01 12:09] #186 closed

[2020-10-01 16:32] LichKing-2234 commented on #188
We don't support > iOS 13 simulator, pls use a real device.

[2020-10-01 16:32] #188 closed

[2020-10-01 19:24] #187 closed

[2020-10-02 09:32] chakshu21 opened #189 "Not able to fix Permissions for camera and microhone"
Future<void> _handleCameraAndMic() async {
    await PermissionHandler().requestPermissions(
      [PermissionGroup.camera, PermissionGroup.microphone],
    );
  }

// in lib/src/pages/index.dart

[2020-10-03 03:35] jacksonw765 opened #190 "Audio/Sounds very quiet on iOS"
Was working fine on 1.0.13 however when I upgraded to 3.1.2 the media volume is very quiet on iOS. Works fine on Android.

[2020-10-05 10:25] KKshitiz commented on #184
Yes, I've also tried the above method but it shows token error. Temp token method works although.

[2020-10-06 09:40] hemil237 commented on #42
brother i am facing same problem as u had , my emulator does not open the camera and showing black display like uh what should i do plz help me
![haha](https://user-images.githubusercontent.com/72067093/95185087-e83ab980-07e5-11eb-9513-4c69d1d4ea64.PNG)
how can i change the port, what was the reasone for this can plz explain me

[2020-10-06 13:43] uwbobanminic commented on #15
Any updates on this?

Some demo project or proper solution?

We are creating platform with audio/video calls and I need to receive calls when app is in background. I managed it when the app is in foreground trough sockets, and then redirecting user to browser instance of the app, but when app is in background, i didn't find solution yet, because even with FCM, sometimes there is a lot of delay unt

[2020-10-07 03:13] prozaklob commented on #15
Could you share an example of how you implemented a call through FCM?

[2020-10-08 06:31] LichKing-2234 commented on #189
sorry, I can not understand, any problem with permissions?

[2020-10-08 06:34] LichKing-2234 commented on #190
could you pls provide our SDK log? you can refer to this [doc](https://docs.agora.io/en/Interactive%20Broadcast/API%20Reference/react_native/classes/rtcengine.html#setlogfile)

[2020-10-08 06:52] LichKing-2234 commented on #42
@hemil237 could you pls provide our SDK log? you can refer to this [doc](https://docs.agora.io/en/Interactive%20Broadcast/API%20Reference/flutter/rtc_engine/RtcEngine/setLogFile.html)

[2020-10-10 01:19] plutoless commented on #184
@KKshitiz if you create a new project with appid only. it should not complain with token error.
1. do you have the actual error code or description?
2. are you sure you have picked the testing mode option when creating a new project?
![image](https://user-images.githubusercontent.com/471561/95642209-9f328000-0ad9-11eb-9e64-462537d92d34.png)
3. did you make the token field null when joining channel

[2020-10-11 11:15] ir2pid commented on #26
@vikramkapoor can you mention how you integrated the websdk into flutter web app.

[2020-10-13 07:47] asongkai commented on #50
Same issue

[code]

[2020-10-13 08:16] LichKing-2234 commented on #50
@asongkai could you provide more information?

[2020-10-13 08:16] LichKing-2234 commented on #50
such as a screenshot or our SDK log.

[2020-10-15 02:48] asongkai commented on #50
Which part of screenshot you need? what I post is error in the console/debug log and the video won't show

[2020-10-15 03:14] LichKing-2234 commented on #50
@asongkai you can refer to [setLogFile](https://docs.agora.io/en/Video/API%20Reference/flutter/rtc_engine/RtcEngine/setLogFile.html)

[2020-10-15 09:49] RuxandraArsene commented on #20
@NarHakobyan can you share the code for the **VideoSession** class. I have some issues regarding the caller page as well and that it would be very helpful. Thank you in advanced!

[2020-10-16 03:09] asongkai commented on #50
@LichKing-2234

I saw a doc mentioned above getting SDK log [https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart](url)
And I set in my code:

[code]

Console Log
[code]

Flutter Doctor

[code]

[2020-10-16 03:42] LichKing-2234 commented on #50
@asongkai seem like you not setting correct appId or token.

[2020-10-16 08:19] asongkai commented on #50
AppID is copy paste how come?

[2020-10-16 08:26] LichKing-2234 commented on #50
@asongkai from https://console.agora.io/

[2020-10-16 09:00] asongkai commented on #50
Hi I'm not sure did you got my points? what I mean copy and paste is I copied the appId from https://console.agora.io/ to my flutter app

[2020-10-16 09:20] LichKing-2234 commented on #50
@asongkai pls refer to this [doc](https://docs.agora.io/en/Interactive%20Broadcast/start_live_flutter?platform=Flutter), and check the `Step 1: Define App ID and Token`.

[2020-10-16 09:22] LichKing-2234 commented on #50
by the way, you can get error code from [`error` callback](https://docs.agora.io/en/Interactive%20Broadcast/API%20Reference/flutter/rtc_engine/RtcEngineEventHandler/error.html)

[2020-10-16 10:01] asongkai commented on #50
The error is remain on my project so, I decided to move on to connectycube
instead of agora

On Fri, Oct 16, 2020 at 4:23 PM Arthas <notifications@github.com> wrote:

[2020-10-17 14:31] freshbrigade commented on #184
App Id error

[2020-10-18 14:55] mrpvb-pvbk commented on #185
My solution is:

[code]
and model:

[code]

[2020-10-18 16:34] mrpvb-pvbk commented on #174
What about support this by default?

[2020-10-19 01:50] LichKing-2234 commented on #50
@asongkai you can refer to this, https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/issues/184#issuecomment-706462169
`[vocs/u] responsed from 52.52.84.170:1080 with error: 15, elapsed: 318, server ts: 1602817614775. connection aborted
I/AGORA_SDK( 5986): INFO    (10: 6:54:829 |    0)   6342; [vocs] 52.52.84.170:1080 is reported failure, and will be disabled for 4000 ms`
this error mean

[2020-10-19 01:54] LichKing-2234 commented on #185
as this comment https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/issues/174#issuecomment-691664325,
the best way is to implement it by your server.

[2020-10-20 11:04] asongkai commented on #50
totally I just cloned the sample app and replace the app ID with my app ID
when launch the app demo show invalid token,

I followed a tutorial on youtube and everything is fine but when I try to
call it says the error I mentioned before.

Anyway thank you for the response I was not able to get it works so I
already tried ConnectyCube and it worked pretty good out of the box.

On Mon, Oct 19, 2020

[2020-10-21 04:58] asongkai commented on #50
My error only like this.

[code]

[2020-10-21 09:48] asongkai commented on #184
I have the same error

I followed the video [https://www.youtube.com/watch?v=v9ngriCV0J0](url) but if I used my appId it doesn't work but if I use the appId on the video or from the source code then it works.

How come? I create the app in test mode with APP_ID only but the reason if use my app ID then not works but use the ID from the source code of the video then it works.

[2020-10-21 09:52] asongkai commented on #50
I don't use token just the AppID

[2020-10-21 10:38] LichKing-2234 commented on #50
pls double check your appId disable app certificate, if you enable app certificate, you must join the channel with a token.

[2020-10-21 10:49] asongkai commented on #50
Thank you it works now, but I create a new app instead by the way how to delete a project or disable app certificate? due to no button to click

[2020-10-21 18:33] the-thirteenth-fox opened #192 "How to make screenshot of current video stream, like thumbnail?"

[2020-10-24 10:28] plutoless commented on #184
@asongkai is there any chance you can collect your sdk log? you can set sdk log file path via setLogFile api.

[2020-10-24 10:44] LichKing-2234 commented on #184
@plutoless his problem has been solved.
https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/issues/50#issuecomment-713482574

[2020-10-28 03:30] LichKing-2234 commented on #192
you can wait for 3.2.0, we will make a raw data plugin.

[2020-10-28 23:30] talwarabhimanyu opened #193 "Unable to run the quickstart example on device"
Hello, I'm trying to run this quickstart example on an LG P875 phone - the app fails to start on the phone, and everytime I see this pop-up message "Unfortunately, agora_flutter_quickstart has stopped". I have seen the solution in https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/issues/11#issuecomment-486945910 however that did not work for me.

I'm running Android Studio on a Windows

[2020-10-28 23:36] talwarabhimanyu commented on #193
I tried to run it again, and this time it produced this log on the console:

`E/AndroidRuntime(10014): FATAL EXCEPTION: main
E/AndroidRuntime(10014): java.lang.NoClassDefFoundError: io.flutter.embedding.engine.loader.FlutterLoader
E/AndroidRuntime(10014): 	at io.flutter.view.FlutterMain.startInitialization(FlutterMain.java:48)
E/AndroidRuntime(10014): 	at io.flutter.app.FlutterApplication.onCreate

[2020-10-29 05:17] LichKing-2234 commented on #193
could you pls provide the crash log? it from logcat not flutter console.

[2020-10-29 13:17] talwarabhimanyu commented on #193
Thanks for your quick response. There is some issue with my Android Studio and I'm just not able to view logcat. I'll post it as soon as I can get my hands on it.

This info might be useful - the phone I'm running on uses Android Version 4.1.2 and so API level 16. Is this API level supported by Agora? Could this error be due to that? Thanks

[2020-10-29 13:32] talwarabhimanyu commented on #193
Here are the error messages I see on the console when I run in debug mode:

`Launching lib\main.dart on LG-P875-9cc6a09 in debug mode...
E/AndroidRuntime(10082): FATAL EXCEPTION: main
E/AndroidRuntime(10082): java.lang.NoClassDefFoundError: io.flutter.embedding.engine.loader.FlutterLoader
E/AndroidRuntime(10082): 	at io.flutter.view.FlutterMain.startInitialization(FlutterMain.java:48)
E/AndroidRun

[2020-10-29 13:39] LichKing-2234 commented on #193
seem like your flutter environment has broken? maybe you can try run `flutter upgrade`?

[2020-10-29 14:19] talwarabhimanyu commented on #193
Appreciate your quick responses. I ran `flutter upgrade` and get the same error. One other thing is that in my `build.gradle` I'm using this ndk config (not sure if this is causing an issue):

`ndk {
            abiFilters 'armeabi-v7a'
 }`

[2020-10-31 12:57] talwarabhimanyu commented on #193
While I wasn't able to make it run on my LG P875 mobile (Android API level 16), I did manage to run it on another phone with a higher API. Closing this issue.

[2020-10-31 12:57] #193 closed

[2020-10-31 15:42] stevenosse commented on #20
Any new about this ?

[2020-11-01 06:29] avinashk369 commented on #149
problem still exist, although build run without fail in vs code.
![Screenshot 2020-11-01 at 11 57 56 AM](https://user-images.githubusercontent.com/5073425/97796567-867d3c00-1c39-11eb-9b00-a8d0f3324b4b.png)

[2020-11-02 02:54] LichKing-2234 commented on #149
@avinashk369 have your run `pod install`? by the way, please show your `flutter doctor -v`

[2020-11-02 03:00] LichKing-2234 commented on #193
@talwarabhimanyu Flutter only support API level 17+

[2020-11-04 10:10] mrpvb-pvbk commented on #192
How long should I wait?

[2020-11-05 00:27] talwarabhimanyu commented on #172
@swapnens Were you able to resolve the `E/libc (16202): Access denied finding property "net.dns1"` issue? If so, request you to share how you solved it. I'm facing the same. Thanks

[2020-11-05 03:02] swapnens commented on #172
Hi

This is a warning. I just ignore it.

On Thu, Nov 5, 2020, 5:57 AM Abhimanyu Talwar <notifications@github.com>
wrote:

[2020-11-05 06:57] LichKing-2234 commented on #192
it will release this month-end.

[2020-11-05 23:27] nemoryoliver commented on #101
Still waiting...

[2020-11-06 09:33] goodsiwen opened #194 "Run app I got a "Access denied finding property "vendor.camera.aux.packagelist"" error!"
please! how to fix it : Access denied finding property "vendor.camera.aux.packagelist""

[2020-11-06 10:37] jigarfumakiya commented on #94
Does RTM SDK is available in flutter? @LichKing-2234

[2020-11-06 12:57] LichKing-2234 commented on #94
@jigarfumakiya sure, you can find it https://pub.dev/packages/agora_rtm

[2020-11-06 12:58] LichKing-2234 commented on #194
理论上这个错应该可以忽略，是有什么问题么。

[2020-11-07 04:41] jigarfumakiya commented on #94
Thanks, @LichKing-2234

[2020-11-17 20:35] avinashk369 commented on #149
sorry for the late response.
issue had with my runner.xcodeproj but when i select runner.xcworkspace then there wasn't any issue.

[2020-11-18 14:09] orestesgaolin commented on #184
I have the same issue i.e. even with test mode without app certificate I cannot join the channel from iOS in debug mode:

![image](https://user-images.githubusercontent.com/16854239/99540535-e866d100-29af-11eb-83eb-b3df7b7e1e33.png)

[code]

Above call results with:

[code]

[2020-11-19 02:52] LichKing-2234 commented on #184
@orestesgaolin is our quickstart working?

[2020-11-19 08:47] orestesgaolin commented on #184
Yes, the quickstart worked for me after I generated the token in the console, thanks! The example from the plugin, however, had this issue.

[2020-11-20 12:42] b21627816 opened #195 "Black Screen on International Video Calls"
I'm trying to make a video call abroad on my project but even though call has successfully created and both sides have connected there is no video or audio on both sides. I'm using Agora.io as RTC Engine and my project is a test project (I only have the app id). Do I need to have certificate and token or is there any other solutions?

Agora version: 3.1.3

[2020-11-20 12:45] LichKing-2234 commented on #195
make sure the rendered widget create after `RtcEngine.create`

[2020-11-20 12:47] b21627816 commented on #195
I can make a call without any problems when both sides are in the same county. But when I try making it abroad I get black screen

[2020-11-20 14:20] LichKing-2234 commented on #195
you can provide the SDK log file, then I can check the connection on our server.

[2020-11-20 22:28] vercorro opened #196 "How to use for audio broadcast only?"
Hello , thank you for the quickstart project.
I'm willing to use Agora services but only for audio streaming, is it achievable without video?

Regards.

[2020-11-23 02:41] LichKing-2234 commented on #196
you can use it without calling `enableVideo`.

[2020-11-29 03:21] Papa-e opened #197 "No documentation"

[2020-11-29 03:21] #197 closed

[2020-11-30 10:14] hongjiasheng opened #198 "如何不打开本地摄像头 只是接收远程视频"
作为客户端audience角色,
app用户只是需要语音同步和接收远程视频功能,  现在却会开启摄像头,那么如何不会触发并开启本地摄像头的使用?

[2020-12-01 06:34] LichKing-2234 commented on #198
setClientRole 设置为观众即可

[2020-12-01 07:13] LichKing-2234 commented on #192
[Raw data plugin](https://pub.dev/packages/agora_rtc_rawdata) is beta now, you can refer to the example and implement the code in the Android&iOS or C++ layer.

[2020-12-01 07:13] #192 closed

[2020-12-07 01:12] edwinchanjy opened #199 "How to integrate DeepAR into Agora?"
I have downloaded DeepAR SDK (native Android) and was trying to integrate it into the Flutter Agora as my project is already written in Dart and I would not like to rewrite it in native. I wonder if it is possible to integrate DeepAR into the Flutter Agora plugin as based on what I understand, the DeepAR SDK makes use of the GLSurfaceView while Flutter Agora plugin is currently not supporting it.

[2020-12-07 03:01] LichKing-2234 commented on #199
if the DeepAR SDK does not support flutter, you must write native code with it. you can refer to https://github.com/AgoraIO/Flutter-SDK/issues/183#issuecomment-736271800

[2020-12-08 05:57] #198 closed

[2020-12-08 05:57] #196 closed

[2020-12-08 05:58] #184 closed

[2020-12-08 05:58] #194 closed

[2020-12-08 05:58] #189 closed

[2020-12-08 05:59] #183 closed

[2020-12-08 05:59] #182 closed

[2020-12-08 06:00] #176 closed

[2020-12-08 06:01] #167 closed

[2020-12-08 06:02] #164 closed

[2020-12-08 06:02] #166 closed

[2020-12-08 06:03] LichKing-2234 commented on #165
pls try the latest version, I believe it works fine.

[2020-12-08 06:03] #165 closed

[2020-12-08 06:03] LichKing-2234 commented on #162
请使用最新版本

[2020-12-08 06:03] #162 closed

[2020-12-08 18:02] topfreeworker123 opened #200 "Old version"
Hello
I want to check if old agora_rtc_engine is running now.
For example, I am using version 1.0.13 agora_rtc_engine  for video call .
But it does not run now.
Please help me

[2020-12-09 20:14] VictorUvarov opened #201 "How to know current user ids in a channel?"
Is there a way to fetch all the current users in a channel? Or do we have to keep track of this information on our own servers?
- If a user joins in late, it would be nice to know who is already in the channel.

[2020-12-09 20:39] topfreeworker123 commented on #183
Hello
I am very interesting in this issue because I have some issue to generate token too.
await _engine.joinChannel(null, "1234567890", null, 0);
I think, this method is not running.
I want to know this cause.
Thanks

[2020-12-10 02:54] LichKing-2234 commented on #200
same as https://github.com/AgoraIO/Flutter-SDK/issues/222

[2020-12-10 02:54] #200 closed

[2020-12-10 02:58] LichKing-2234 commented on #183
@topfreeworker123 pls refer to https://docs.agora.io/en/Agora%20Platform/token?platform=All%20Platforms, add
[code]

[2020-12-10 03:03] LichKing-2234 commented on #201
you can refer to
https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/issues/174#issuecomment-691664325

[2020-12-10 03:05] #201 closed

[2020-12-15 18:10] malithkuruppu opened #202 "Livestreaming the screen of a flutter mobile app"
I have a flutter mobile app. I want to livestream the activities that I do in the said app.

Is there a way to add live-streaming functionality to the said app and broadcast this into an another custom app and/or to youtube/twitch?

[2020-12-16 03:53] LichKing-2234 commented on #202
you can refer to the native doc about custom video capture.
https://docs.agora.io/en/Interactive%20Broadcast/custom_video_android?platform=Android
https://docs.agora.io/en/Interactive%20Broadcast/custom_video_android?platform=iOS

[2020-12-17 13:53] ahmedJD opened #203 "Unhandled Exception: MissingPluginException(No implementation found for method create on channel agora_rtc_engine)"
I need to run agora in onBackgroundMessage with FCM and in order to do that i need to register the plugin class Application

import io.flutter.app.FlutterApplication
import io.flutter.plugin.common.PluginRegistry
import io.flutter.plugin.common.PluginRegistry.PluginRegistrantCallback
import io.flutter.plugins.GeneratedPluginRegistrant
import io.flutter.plugins.firebasemessaging.FlutterFirebaseMess

[2020-12-20 11:47] mayankmikin commented on #15
I am looking for an example of whats app call through FCM , where a user can accept and decline it . on accepting it will open the app and then through background handler navigate to the proper page ?

[2020-12-20 11:50] kimoduor commented on #15
You can make it ring while in the background. When the user clicks fcm
notification, it opens the app on the desired page. Thats how i forced to
do mine

On Sun, 20 Dec 2020, 14:47 mayankmikin, <notifications@github.com> wrote:

[2020-12-21 22:32] sid-best-coder opened #204 "xcodebuild[50513:4848187] DTDeviceKit: deviceType from 00008030-000459E11E42402E was NULL"
Getting the following errors when trying 'flutter run' on my ios device. Works fine on android.

xcodebuild[50513:4848187]  DTDeviceKit: deviceType from 00008030-000459E11E42402E was NULL
warning: The iOS deployment target 'IPHONEOS_DEPLOYMENT_TARGET' is set to 8.0, but the range of supported deployment target versions is 9.0
    to 14.2.99. (in target 'permission_handler' from project 'Pods')

io

[2020-12-22 01:45] AxesandGrinds commented on #65
Hello @LichKing-2234, can you give an example? I'm not sure what you mean by 'Listener'

[2020-12-22 01:47] AxesandGrinds commented on #65
I think I figured it out.
[](https://api.flutter.dev/flutter/widgets/Listener-class.html)

[2020-12-22 01:47] AxesandGrinds commented on #65
I figured it out.
https://api.flutter.dev/flutter/widgets/Listener-class.html

[2020-12-22 03:19] LichKing-2234 commented on #65
@AxesandGrinds The new version of SDK support `GestureDetector `

[2020-12-22 03:23] LichKing-2234 commented on #204
if you want to run on your physical device, you should refer to this doc. (find the `Select a Real Device` title)
https://developer.apple.com/documentation/xcode/running_your_app_in_the_simulator_or_on_a_device

[2020-12-22 21:25] sid-best-coder commented on #204
Thanks a lot @LichKing-2234 . That was it :)

For the benefit of others, following are the steps I followed to make this app work on my iphone.
1. Clone the repo
2. Open the ios folder in Xcode. Set Signing & Capabilities.
3. Set the app id and token in settings.dart
4. flutter pub get; flutter run

[2020-12-22 21:25] #204 closed

[2020-12-23 14:54] AxesandGrinds commented on #65
Excellent news. onTap in `GestureDetector` is better than the options for `Listener`.

[2021-01-03 18:19] ziasultan2 opened #205 "ErrorCode.InvalidAppId"
I'm getting ErrorCode.InvalidAppId. I copy the app id from agora and paste it there but it shows me this error.
please let me know how to resolve this issue

[2021-01-04 02:14] #205 closed

[2021-01-04 02:14] LichKing-2234 commented on #205
same as
https://github.com/AgoraIO/Agora-Flutter-SDK/issues/235

[2021-01-12 18:22] wizhob2020 opened #206 "Audio and video call ringing(ping) before join channel"
Hi Team

I have successfully integrated the agora audio and video call using channel which is created. NOW PROBLEM is that in recipient side there is no ringing functionality before join the call, for example what's app or other app. Please provide these things in sdk for flutter.

[2021-01-12 18:23] wizhob2020 opened #207 "Video or Audio call ringing"
Hi Team

I have successfully integrated the agora audio and video call using channel which is created. NOW PROBLEM is that in recipient side there is no ringing functionality before join the call, for example what's app or other app. Please provide these things in sdk for flutter.

[2021-01-13 02:54] LichKing-2234 commented on #207
You can implement it on your application, why it needs to be added to SDK?

[2021-01-13 02:55] LichKing-2234 commented on #206
same as https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/issues/207

[2021-01-13 02:55] #206 closed

[2021-01-13 12:04] wizhob2020 commented on #207
Dear @LichKing-2234

How I can, such as suppose a caller trying to make a call to  receiver , and befor pick the call by receiver  his/her phone should be ringing, and same thing if receiver receive the call we need a acknowledgment for sender phone. So therefore Please explore the function details if exist in sdk. other wise I am doing a humble request to you please make a hint so that I can hand

[2021-01-14 03:04] LichKing-2234 commented on #207
What do you use to make the call? FCM?

[2021-01-14 18:17] wizhob2020 commented on #207
Dear @LichKing-2234

thanks for quick response, actually I am using make a call with channel id, and this channel id passing to other side by a rest api, and if user click corresponding ui which have associated with channel id then make a stubbliest channel between sender and reciever. but I think it's not look good because there is no prier information to reciever. I want to make video call such

[2021-01-15 03:08] LichKing-2234 commented on #207
you can use FCM or RTM to send an invitation and play music to ring when the client receives the invitation.

[2021-01-17 19:19] EgHubs commented on #15
and how do I make it ring?

[2021-01-19 09:14] trey-rosius opened #208 "Black Screen when i run your Demo"
Hi,
I get a black screen when i run your demo both on the emulator and as a release on a real device.
I also updated the agora SDK plugin to 3.2.1
Flutter Doctor
`[✓] Flutter (Channel beta, 1.25.0-8.1.pre, on macOS 11.1 20C69 darwin-x64, locale en-CM)
    • Flutter version 1.25.0-8.1.pre at /Users/imac/Documents/flutter
    • Framework revision 8f89f6505b (5 weeks ago), 2020-12-15 15:07:52 -0800

[2021-01-19 09:31] LichKing-2234 commented on #208
maybe you can try the stable channel, it seems like a bug from flutter.

[2021-01-19 09:32] LichKing-2234 commented on #208
It works on my device, my `flutter doctor`
[code]

[2021-01-19 09:54] trey-rosius commented on #208
Thanks a ton for the the swift feedback. I'll revert with updates

[2021-01-19 20:36] trey-rosius commented on #208
Same black screen. Here's  my flutter doctor

`[✓] Flutter (Channel stable, 1.22.5, on macOS 11.1 20C69 darwin-x64, locale en-CM)
    • Flutter version 1.22.5 at /Users/imac/Documents/flutter
    • Framework revision 7891006299 (6 weeks ago), 2020-12-10 11:54:40 -0800
    • Engine revision ae90085a84
    • Dart version 2.10.4

[!] Android toolchain - develop for Android devices (Android SDK versio

[2021-01-20 03:23] LichKing-2234 commented on #208
here is the difference between your repository with our repository.
![image](https://user-images.githubusercontent.com/9312526/105122621-804c7c80-5b11-11eb-8061-8fecf3a9a4c7.png)

you use `Contaner` widget to wrap our widget, but you have not set the `width` and `height`.

[2021-01-20 06:32] trey-rosius commented on #208
Thanks alot @LichKing-2234 . Changing Container to Expanded solved the issue.
Thanks again for the support. I'm going to close this issue now.

[2021-01-20 06:32] #208 closed

[2021-01-22 09:20] jaafarnejm commented on #48
I faced the same problem with Flutter + Agora, I followed these steps which solved my problem:
1. Add to android/app/build.gradle file inside buildTypes bloc:
[code]
2. Create a new file under android/app/ and name it "proguard-rules.pro"
3. Insert these lines to :
[code]

Finally, make sure that your Agora project stage supports live.

[2021-01-22 20:34] khaled720 opened #209 "black screen for video stream in release only"
Hi i have cloned agora quickstart it is working fine debug and release But when i migrate to my own project video stream works fine in debug mode only and in release it is not working and giving exceptions in log and black screen

 here is my pubspec :
name: Stremo
description: Stremo Mobile application.

publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.2.0+2

en

[2021-01-25 17:00] plutoless commented on #209
could you pls provide a minimal reproducible project so that we can check what might go wrong?

[2021-01-26 01:47] mrhmamun commented on #4
is it possible  to use Firebase & Cloud Firestore for recording?

[2021-01-28 02:48] LichKing-2234 commented on #4
@mrhmamun Sorry, I don't understand, How can Firebase get the video stream.

[2021-01-30 21:42] oplattethunder opened #210 "android.system.ErrnoException: open failed: EACCES (Permission denied)"
I'm getting the following errors when running on an Android emulator and physical device (Note 8). The functionality is fine and there doesn't seem to be any problems with use, but the error messages are long and continuous:

`W/GENP.0  (12467): type=1400 audit(0.0:49299): avc: denied { read } for name="temp" dev="sysfs" ino=16830 scontext=u:r:untrusted_app:[] tcontext=u:object_r:sysfs:s0 tclass=f

[2021-01-31 02:19] plutoless commented on #210
have you granted file system access to your app?

[2021-01-31 15:26] oplattethunder commented on #210
Thanks for the fast response!

I'm not exactly sure how to do that or how to confirm. These are the permissions I have in my AndroidManifest:

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="androi

[2021-01-31 15:45] oplattethunder commented on #210
Update: I've added the "READ_EXTERNAL_STORAGE" permission to my AndroidManifest but the error is still showing while in a video call.

[2021-02-01 07:51] LichKing-2234 commented on #210
@oplattethunder this is a bug from our native SDK, but you can ignore it because it just throws logs to the logcat.

[2021-02-01 07:56] LichKing-2234 commented on #210
duplicate issue https://github.com/AgoraIO/Agora-Flutter-SDK/issues/243

[2021-02-01 07:56] #210 closed

[2021-02-02 02:51] jb522185660 opened #211 "flutter如何单对单呼叫？"
安卓那边这个操作可以执行单对单呼叫
// 获取 RtmCallManager 实例
RtmCallManager = RtmClient.getRtmCallManager();
void inviteCall(final String peerUid, final String channel) {
    //创建 LocalInvitation
    LocalInvitation invitation = RtmCallManager.createLocalInvitation(peerUid);
    invitation.setContent(channel);
    //发送呼叫邀请
    RtmCallManager.sendLocalInvitation(invitation);
}
Flutter 对应是如何实现？

[2021-02-02 02:55] yoreland commented on #211
call invitation 是agora rtm sdk的功能这块flutter还没有封装rtm,只能在原生层集成

[2021-02-02 04:39] somavoyager opened #212 "InvalidAppId or JoinChannelRejected"
I am working on a flutter project, where I am looking to use voice chat for a group. I have created a project, enabled primary certificate and generated a temporary token.

Here is my code.
 try {
      _engine = await RtcEngine.createWithAreaCode(ApiKeys.AGORA_KEY, areaCode);
      await _engine.enableAudio();
      await _engine.setChannelProfile(ChannelProfile.Game);
      await _engine.setClie

[2021-02-02 11:56] LichKing-2234 commented on #211
使用flutter rtm插件

[2021-02-02 12:00] LichKing-2234 commented on #212
you can try our example in sdk folder

[2021-02-02 17:09] manavagarwal-1216 commented on #183
@LichKing-2234 I am making a project using flutter and currently I'm generating temporary token from dashboard how can I generate token automatically because I'm new with flutter too, so I am not able to understand that part. I saw the documentation but there is nothing for flutter.

[2021-02-07 19:34] bharath8831 commented on #149
But what is the answer here , could you explain

[2021-02-07 19:35] bharath8831 commented on #149
How to fix "Module 'agora_rtc_engine' not found" issue??

[2021-02-07 23:49] ishaan-puniani opened #213 "Not able to join channel after getting token from nodejs server"
Hello,
I am trying to join channel from flutter application.
If I generateToken from the website under project in agora.io it works perfectly fine

but if I generate token using
https://github.com/AgoraIO-Community/TokenServer-nodejs
or https://www.agora.io/en/blog/how-to-build-a-token-server-for-agora-applications-using-nodejs/
and use the token into my flutter applicartion
![image](https://user-

[2021-02-12 03:11] LichKing-2234 commented on #213
you can ignore the error `Access denied finding property "net.dns1"`, you can use the token to try our web demo.

https://webdemo.agora.io/agora-web-showcase/examples/Agora-Web-Tutorial-1to1-Web/

[2021-02-13 18:05] kimoduor commented on #15
I coded in flutter and tested in Android
So I use firebase_messaging(https://pub.dev/packages/firebase_messaging) that you have to specify channel_id in the manifest.
From the server, the message comes with a ringtone string.
You have to put the rington file in android\app\src\main\res\raw in my case, mine is call.mp3
Here is my php curl in the server
 $key = "THIS_isTHE_FIREBASE_KEY";
        $da

[2021-02-15 05:34] jenniestrongbow commented on #178
Why was it closed? No good answer was given.

[2021-02-15 09:09] LichKing-2234 commented on #178
@jenniestrongbow https://docs.agora.io/en/Agora%20Platform/token?platform=All%20Platforms

[2021-02-17 21:37] lucsout commented on #163
Hi guys!
I have the same exact problem but only on a particular device. I tried to make a group video call, I can see all devices but one (video not showing, audio working). What could it be?

[2021-02-18 02:01] LichKing-2234 commented on #163
@lucsout could you pls provide our SDK log?

[2021-02-18 02:52] LichKing-2234 commented on #163
btw, make sure you are using the 3.x version.

[2021-02-18 07:27] lucsout commented on #163
I’m using the latest.
What log exactly? The one from the device we cannot see? (Even if in this device we see everything including itself)

[2021-02-18 08:14] LichKing-2234 commented on #163
@lucsout
https://docs.agora.io/cn/Video/API%20Reference/flutter/rtc_engine/RtcEngine/setLogFile.html

[2021-02-18 08:41] lucsout commented on #163
Ok thanks, i will try to get the log.
Meanwhile, don't know if it is useful, this is the channel id i tried (yesterday, around 16 pm)
MShaZo0zHuYl4xrU6n8k

[2021-02-18 10:28] amarSuthar437 opened #214 "Is that worked with flutter Web?"
Is that working with Flutter web? I'm implementing Video call in flutter web, but i get this exception Missing Plugin.

Error: MissingPluginException(No implementation found for method create on channel agora_rtc_engine)
    at Object.throw_ [as throw] (http://localhost:57641/dart_sdk.js:5342:11)
    at MethodChannel._invokeMethod (http://localhost:57641/packages/flutter/src/services/system_channe

[2021-02-19 02:33] LichKing-2234 commented on #214
it did not support the web yet.

[2021-02-19 15:59] ishaan-puniani commented on #213
Even though I ignored this error, I am not able to join channel success.

[2021-02-20 12:43] DaxeshV opened #215 "How to Generate Automatic token in flutter?"
I am making a project using flutter and currently I'm generating temporary token from dashboard how can I generate token automatically because I'm new with flutter too, so I am not able to understand that part. I saw the documentation but there is nothing for flutter.

[2021-02-20 14:40] uzairleo commented on #50
@haroonkhan9426
did u enable app certificates ?

[2021-02-20 15:11] haroonkhan9426 commented on #50
Yes I did.

[2021-02-21 15:54] Tirth-Vyas opened #216 "It shows error for permissions."
It shows error in the following code written in bold that camera and microphone isn't defined :

[code]

[2021-02-21 16:24] plutoless commented on #215
@DaxeshV token should be generated from your own server. the client platform all uses the same token mechanism.
for explanations of token please read https://docs.agora.io/en/Real-time-Messaging/faq/token_usage_generation_description#token-%E5%88%B0%E6%9C%9F%E6%97%B6%E7%9A%84sdk-%E8%A1%8C%E4%B8%BA%E4%B8%8E%E5%BB%BA%E8%AE%AE%E6%93%8D%E4%BD%9C

[2021-02-22 02:58] LichKing-2234 commented on #216
could you pls show the error log?

[2021-02-26 07:27] kandarp-bhatt commented on #207
There is no specific solution to implement it in Agora SDK but by using another way manually you can achieve this:

In FCM, you need to any use real time database or cloud fire store database i.e. Firebase & using that you will get data change listener.

To maintain the continuous status of the call, you have to manage it from the database. You have to store the current status of that call in the

[2021-02-26 08:26] UCetinkaya94 opened #217 "Calling getUserInfoByUid in the userJoined callback throws a null pointer exception"
Hi,

I'm using `_engine.joinChannelWithUserAccount`. When `userJoined` is triggered, I'm calling `_engine.getUserInfoByUid(uid)` to get the user name. This throws the following exception:

`Tried calling: forEach(Closure: (dynamic, dynamic) => Null)`

I think it has to do with the fact that the UserInfo is not available right away when `userJoined` is triggered. What I'm doing right now is to wait

[2021-02-26 08:34] LichKing-2234 commented on #217
could you pls show the code about the `UserJoined` event?

[2021-02-26 08:44] UCetinkaya94 commented on #217
[code]

[2021-02-26 09:07] UCetinkaya94 commented on #217
@LichKing-2234 I forgot to mention: the exception occurs on the client that is joining a channel with users already in it. Here is a short video:

https://user-images.githubusercontent.com/67158575/109279555-30e92280-781a-11eb-9ae2-24f796be8e2f.mov

[2021-02-28 09:55] plutoless commented on #163
@lucsout from our backend we see your android device has capture frame rate while encode frame rate is zero. this normally should not happen. if you could help provide a reproduce log we will look into it.

[2021-02-28 12:19] plutoless commented on #213
@ishaan-puniani could you pls share the token you generated? and the channel and uid you used to join the channel for this token.

[2021-03-01 03:34] LichKing-2234 commented on #217
you can try this
[code]

but if you do this, you must join the channel by calling `joinChannelWithUserAccount `.

[2021-03-02 12:21] anon-000 commented on #53
mora chaluuunyyyyyyy...
gaand maraaaa.......

[2021-03-02 15:23] LichKing-2234 commented on #53
@anon-000 our sdk have supported v2 plugin.

[2021-03-02 15:36] anon-000 commented on #53
I have removed that generatedPluginregistrant in MainActivity.kt  but still that black screen is showing. I have given all the permissions and also checked the tokens and the app id .

When i downgrade the version of the agorartc plugin to 1.*  it's working fine but when i use the latest version or the versions above 3 then it's not working.
RtcLocalSurface becomes black.

Please help me if you ca

[2021-03-02 19:34] UCetinkaya94 commented on #217
@LichKing-2234 It seems to work, thank you!

[2021-03-02 19:34] #217 closed

[2021-03-03 03:03] LichKing-2234 commented on #53
@anon-000 The 1.x version is out-of-date, if you want to use the 3.x version, pls refer to our example to migrate

[2021-03-04 08:41] Faisalkc4u commented on #215
@DaxeshV HI,
I have created a token generator my server with node (package:agora-access-token)
The app is still in development mode also i haven't enable live mode.
Now when am using the token generated which is generated at the server side, am getting Invalid channel Name

[2021-03-04 08:44] DaxeshV commented on #215
While you create token pass just 2 thing
 - uid = 0 and channelName.

 Once token generate you can use it for join.

[2021-03-04 08:45] DaxeshV commented on #215
Thanks

[2021-03-04 08:45] #215 closed

[2021-03-06 15:12] wytex opened #218 "Audio calls works in One way in Agora Flutter Application"
I have setting up my application with Agora SDK flutter.
I have set up Role as Broadcast and if I talk the other side can hear my voice,
The problem is if the other side talk I can't hear his voice.
I have read documentation But I dindnt find anything related to this issue, when 2 users are in the same channel both of them should talk and each other can hear the voice of the other or I am wrong?

[2021-03-06 15:24] #218 closed

[2021-03-07 14:19] stevenosse commented on #149
Please do we have a solution for this:
I've tried these:

- Update iOS deployment version to 11.0
- Open the xcworkspace instead of xcodeproj
- Runned `flutter clean` and Product -> clean build folder on iOS

None of these solutions worked. Can anyone please help on this ?

[2021-03-08 02:53] LichKing-2234 commented on #149
@stevenosse maybe you can make a demo and upload it, then I can test it and find some solutions.

[2021-03-08 02:58] LichKing-2234 commented on #218
Hi, could you pls share the solution to your issue?

[2021-03-14 09:05] gathodeharrkirat commented on #209
hi... Have you found a solution yet ?

[2021-03-14 09:11] LichKing-2234 commented on #209
pls make sure the `RtcEngine` has been initializated.
[code]

[2021-03-14 09:13] LichKing-2234 commented on #209
you can set `minifyEnabled` to  false to confirm is the error from `proguard`?

[2021-03-14 09:17] gathodeharrkirat commented on #209
I am also facing the same black screen issue and this the code could you help me with this

import 'package:agora_rtc_engine/rtc_engine.dart';
import 'package:agora_rtc_engine/rtc_local_view.dart' as RtcLocalView;
import 'package:agora_rtc_engine/rtc_remote_view.dart' as RtcRemoteView;
import 'package:flutter/material.dart';
import 'package:newsimarnkapp/home/model_home_screen/live_streaming/setti

[2021-03-14 09:18] gathodeharrkirat commented on #209
this is the pubspec.yaml

name: newsimarnkapp
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number

[2021-03-14 09:29] gathodeharrkirat commented on #209
I tried minifyEnabled false but it caused error  in gradle

[2021-03-14 09:36] gathodeharrkirat commented on #209
This the DEBUG CONSOLE response when trying to go live

I/ExtendedACodec(20659): setupVideoEncoder()
W/ACodec  (20659): do not know color format 0x7fa30c04 = 2141391876
W/ACodec  (20659): do not know color format 0x7f000789 = 2130708361
I/ACodec  (20659): setupAVCEncoderParameters with [profile: Baseline] [level: Level1]
I/ACodec  (20659): [OMX.qcom.video.encoder.avc] cannot encode HDR static meta

[2021-03-14 10:22] gathodeharrkirat commented on #195
how do we get sdk logs from flutter app

[2021-03-15 02:44] LichKing-2234 commented on #195
@gathodeharrkirat
you can refer to [setLogFile](https://docs.agora.io/en/Interactive%20Broadcast/API%20Reference/flutter/rtc_engine/RtcEngine/setLogFile.html)

[2021-03-15 02:46] LichKing-2234 commented on #209
what error?

[2021-03-22 14:58] Yahya-khodr opened #219 "'create' has been deprecated ."
How to use the new one ?

[2021-03-23 03:20] LichKing-2234 commented on #219
you can keep using it.

[2021-03-23 03:20] #219 closed

[2021-03-27 00:16] stevenosse commented on #149
@LichKing-2234 sorry for bothering
I finally found what was causing the bug.

All i had to do was to remove the Podfile (`rm -rf Podfile` from the ios folder), and then rerun the flutter build ios command.

[2021-03-30 20:49] Yahya-khodr opened #220 "Black Screen issue from Local/Remote sides"
This is The error log
  Note: I'm using the CreateWithConfig method since RtcEngine.create is deprecated.
E/MethodChannel#agora_rtc_engine(21216): Failed to handle method call
E/MethodChannel#agora_rtc_engine(21216): java.lang.RuntimeException: NEED TO check rtc sdk init fatal error
E/MethodChannel#agora_rtc_engine(21216):
E/MethodChannel#agora_rtc_engine(21216): 	at io.agora.agorartcengine.AgoraR

[2021-04-01 03:43] LichKing-2234 commented on #220
your android module is the old version. pls uninstall your app and rerun it.

[2021-04-01 03:43] #220 closed

[2021-04-02 18:28] m-hamzashakeel opened #221 "No method for Flutter to generate Token"
I have gone through all the official doc to generate `Token` every other language as some method commonly `buildToken` which returns a Token and take few parameters like `appID` and `appCertificate` etc.

For flutter there is no such method in the SDK/plugins to generate this token.

[2021-04-07 10:11] LichKing-2234 commented on #221
you should generate a token on your server.

[2021-04-07 10:11] #221 closed

[2021-04-08 08:03] #199 closed

[2021-04-08 08:07] #202 closed

[2021-04-08 08:07] LichKing-2234 commented on #203
I will close this issue, you can reopen it if the issue still exists.

[2021-04-08 08:07] #203 closed

[2021-04-08 08:13] #211 closed

[2021-04-08 08:13] LichKing-2234 commented on #212
I will close this issue, you can reopen it if the issue still exists.

[2021-04-08 08:13] #212 closed

[2021-04-08 08:16] LichKing-2234 commented on #207
I will close this issue, you can reopen it if the issue still exists.

[2021-04-08 08:16] #207 closed

[2021-04-08 08:17] LichKing-2234 commented on #216
I will close this issue, you can reopen it if the issue still exists.

[2021-04-08 08:17] #216 closed

[2021-04-08 08:19] LichKing-2234 commented on #214
you can follow https://github.com/AgoraIO/Agora-Flutter-SDK/issues/63

[2021-04-08 08:19] #214 closed

[2021-04-08 08:21] LichKing-2234 commented on #163
I will close this issue, you can reopen it if it still exists.

[2021-04-08 08:21] #163 closed

[2021-04-08 08:22] LichKing-2234 commented on #213
you can refer to `setLogFile` method to get the log file.

I will close this issue, you can reopen it if it still exists.

[2021-04-08 08:22] #213 closed

[2021-04-08 08:26] LichKing-2234 commented on #209
I will close this issue, you can reopen it if it still exists.

[2021-04-08 08:26] #209 closed

[2021-04-09 21:06] sinadalvand opened #222 "does it work for web and windows?"
I'm trying to develop an application for Web and Windows by using Agora API, does it work on these platforms?

[2021-04-10 01:00] LichKing-2234 commented on #222
not support now, we are developing

[2021-04-10 05:50] sinadalvand commented on #222
Can you estimate How long it is going to take until being ready?

[2021-04-10 05:52] LichKing-2234 commented on #222
maybe the end of Q2.

[2021-04-10 05:57] sinadalvand commented on #222
nice, so that's near.

thanks for your support.

[2021-04-10 05:57] #222 closed

[2021-04-15 08:40] sajanyamaha opened #223 "enableLocalVideo and muteLocalVideoStream Not working"
Ultimate aim is to Mute/Unmute Video .

Trying on version ,
  **agora_rtc_engine: ^3.3.3
  permission_handler: ^5.1.0+2**

On trying to mute local video , the video never stops ,
enableLocalVideo - There is a small glitch and video continue recording
muteLocalVideoStream - No effect

[code]
Logs at that instantce ,
_E/agora_vrp(14043): replaced by swap before render. gap=45 ms. all replaced by swa

[2021-04-18 02:25] HASHI99M commented on #167
8415

[2021-04-18 04:49] plutoless commented on #223
duplicate of https://github.com/AgoraIO/Agora-Flutter-SDK/issues/301
please follow that issue instead. i will close this one here.

[2021-04-18 04:49] #223 closed

[2021-04-18 12:51] ishallwin20 commented on #178
This solved the issue. Thanks.

[2021-04-19 17:21] ashuorg opened #224 "Support for Flutter 2.x"
By when we can expect support for Flutter 2.x

[2021-04-20 02:40] LichKing-2234 commented on #224
you can follow this https://github.com/AgoraIO/Agora-Flutter-SDK/issues/303

[2021-04-20 02:40] #224 closed

[2021-04-20 04:14] yhhCh405 commented on #101
Still waiting...

[2021-04-22 12:29] delwar36 commented on #48
I tried the solution given on the `readme.md`. But still crashing the app. How did you solve that?

[2021-04-22 13:41] luantrasel commented on #48
I also followed solution on `readme.md` and app is crashing for me as well

[2021-04-23 06:01] LichKing-2234 commented on #48
pls provide the error log

[2021-04-25 11:19] Muhammad-Ullah commented on #62
@khaliqdadmohmand  did you get the solution??.
I think it is outdated now and not working

[2021-04-28 07:58] delwar36 commented on #48
When I run command `flutter run --release` it works fine. But when I build apk file and try to install and open it, the app crashes. How can I get the log in this case?

[2021-04-28 08:19] LichKing-2234 commented on #48
from adb logcat

[2021-04-29 09:27] HassamTalha opened #225 "How to use SDK to engage 40 - 50 users in a video session?"
Hi, this is more like a question. I would like to know how many users can join video session or how can I achieve the engagement of 50 users in a video session. I have searched for it and came to know that 7 users can share video in a group video call. But that answer was outdated and I haven't found anything updated on this.  I need more users. Can I use the live broadcasting example to engage th

[2021-04-30 01:58] plutoless commented on #225
you can have lots of audiences in the room, but only 17 hosts are allowed at same time within a channel. you can contact our support team to raise this limit, but usually there should not be that many people talking in the channel

[2021-04-30 02:37] HassamTalha commented on #225
Thank you so much for the information.

[2021-04-30 02:37] #225 closed

[2021-05-04 16:25] danielgchap commented on #215
The agora token approach is right next to moronic and you very poor documentation in regards to this. Pathetic.

[2021-05-11 11:26] ayushmi opened #226 "RTCEngine creation failing with java.lang.reflect.InvocationTargetException and couldn't find "libagora-ffmpeg.so""
I followed the starter code to implement the demo live stream.

This is my initAgoraRtcEngine function:

[code]

I am using   agora_rtc_engine: ^3.3.1

Here RTC Engine creation is failing with following errors:

W/System.err( 9610): java.lang.reflect.InvocationTargetException
W/System.err( 9610): 	at java.lang.reflect.Method.invoke(Native Method)
W/System.err( 9610): 	at io.agora.agora_rtc_engine.

[2021-05-12 08:19] LichKing-2234 commented on #226
run ./gradlew clean and try again

[2021-05-12 10:33] ayushmi commented on #226
Thanks this worked!

[2021-05-12 10:33] #226 closed

[2021-05-17 06:11] Faiizii commented on #15
I am facing the same problem but nothing found for exact solution. But I have an android ringing notification using [flutter_local_notifications](https://pub.dev/packages/flutter_local_notifications) like
[code]

What I want to achieve?
I want to open my custom designed acceptance screen on receiving notification. The problem is that there is no context inside the notification handler of [firebase

[2021-05-25 05:35] TungWang commented on #69
Is it working on iOS?

[2021-05-30 10:13] bogzag commented on #183
when you create an agora project you have two option:
- the one which requires both token and app id
- the one which require only the app id

If you don't want to generate and use the token you can select the "only app id" option. So like that you will be able to use

`await_engine.joinChannel(null, "Channel Name", null, 0);`

[2021-06-02 15:59] hutomosaktikartiko opened #228 "Black screen on the local sides"
This is the log
D/BufferQueueProducer(23497): [SurfaceTexture-0-23497-1](this:0x6ff0ffa000,id:4,api:1,p:653,c:23497) cancelBuffer: slot 2
D/BufferQueueProducer(23497): [SurfaceTexture-0-23497-1](this:0x6ff0ffa000,id:4,api:1,p:653,c:23497) cancelBuffer: slot 2
D/BufferQueueProducer(23497): [SurfaceTexture-0-23497-1](this:0x6ff0ffa000,id:4,api:1,p:653,c:23497) cancelBuffer: slot 2
D/BufferQueueProdu

[2021-06-03 03:29] LichKing-2234 commented on #228
have you tried our example?

[2021-06-03 03:31] hutomosaktikartiko commented on #228
yes i have tried that

[2021-06-03 03:38] LichKing-2234 commented on #228
The example is working. have you modified some code?

[2021-06-03 04:14] hutomosaktikartiko commented on #228
I haven't tried modifying it yet, I'll start now by creating a new project. please don't close this issue, I will confirm if find this problem again.

[2021-06-03 05:47] LichKing-2234 commented on #228
okay, maybe it causes by the camera permission?

[2021-06-03 05:53] hutomosaktikartiko commented on #228
I don't think that's. in my project I created a broadcast channel, when no user joins the room (only the host) it's no problem, but when a user joins, the host screen goes black and strangely the video from the camera host is still alive in the user screen.

[2021-06-03 13:48] suraj0223 commented on #184
How did I generate a random token with Channel Id?

[2021-06-07 15:40] Hassanmsaid commented on #177
Make sure to enable your local video after joining the channel
[code]

[2021-06-08 13:36] danielgchap commented on #68
Thanks @LichKing-2234

[2021-06-12 06:38] 123Check opened #229 "avc: denied { read } for name="temp" dev="sysfs" ino=11620 scontext=u:r:untrusted_app:s0:c87,c256,c512,c768 tcontext=u:object_r:sysfs:s0 tclass=file permissive=0"
hello

i get this error when i make this call "   await _engine.joinChannel(null, widget.channelName, null, 0);" but works if i add a token, with token the issue is i am testing and token expires is there a way to make token newver expire

this is the error without token

avc: denied { read } for name="temp" dev="sysfs" ino=11620 scontext=u:r:untrusted_app:s0:c87,c256,c512,c768 tcontext=u:object_r

[2021-06-12 12:11] plutoless commented on #229
please follow the guide here to learn how to manage token
https://docs.agora.io/en/Interactive%20Broadcast/token_server?platform=RESTful

[2021-06-27 03:19] #228 closed

[2021-06-28 18:25] Akifcan opened #233 "Token Error"
Hello, before 3 month ago i used agora sdk with flutter and it was working successfully. Now i tried to implement again agora sdk to my flutter app. I created a new project and used appId and token in my app but it still gives me invalid token error.

Also in console i have this errors
`E/libc    ( 8822): Access denied finding property "net.dns1"`
[code]

Android manifest
[code]
pubspec.yaml
[code

[2021-06-29 02:29] LichKing-2234 commented on #233
you can ignore this log, pls listen the error event or fetch the SDK log to get more info.

[2021-06-29 06:13] abinvs-2019 commented on #178
But the audio/video feature will not be  enabled without Token...if got please help

[2021-06-30 00:18] Akifcan commented on #233
hello again this is message from error event `I/flutter ( 8377): errorErrorCode.InvalidAppId`

[2021-06-30 03:30] LichKing-2234 commented on #233
have you set the toekn?

[2021-07-07 21:47] lohnsonok commented on #177
Working for me

[2021-07-12 08:54] nisaji opened #234 "Error: MissingPluginException"
When I ```flutter run``` (or ```flutter run -d chrome``` )

[code]

Is there any solutions in this problem ?

[2021-07-12 09:33] LichKing-2234 commented on #234
for flutter web? pls refer to https://github.com/AgoraIO/Agora-Flutter-SDK/tree/dev/flutter2/example.

[2021-07-12 09:45] harshbhai commented on #22
Issue still there. any update?

[2021-07-12 10:21] LichKing-2234 commented on #22
@harsuu942 any screenshot?

[2021-07-12 12:27] harsuu942 commented on #22
![Screenshot_1626091276](https://user-images.githubusercontent.com/17287262/125285653-80973900-e338-11eb-85a4-dc9323699f73.png)

Capture video from the back camera but in player device it shows rotate video.

[2021-07-12 13:21] LichKing-2234 commented on #22
You have locked your screen.

[2021-07-12 14:31] harsuu942 commented on #22
No i don't have locked screen.

[2021-07-13 04:04] LichKing-2234 commented on #22
@harsuu942 Sorry, I mean locked the screen rotation. If you have not locked the screen rotation, your screen should be horizontal.

[2021-07-13 06:07] harsuu942 commented on #22
Thanks !!! but lets some have locked screen rotation.how can we achieve this?

[2021-07-13 09:54] nisaji commented on #234
Thank you.

In `lib/config/agora.comfig`, I can see
[code]

where I get `channelId`, `uid` and `stringUid`?

[2021-07-13 10:09] LichKing-2234 commented on #234
you can special by yourself.

[2021-07-15 04:21] nisaji commented on #234
Thanks.

I run presented by you on web, I cought same error as below.
[code]

But, when I run iOS emulator, It may works correctly.
So I can develop with emulator but I want to develop on web(chrome).
Do you have any solution ?

[2021-07-15 04:40] LichKing-2234 commented on #234
pls refer to https://github.com/AgoraIO/Agora-Flutter-SDK/tree/dev/flutter2/example.

[2021-07-15 04:40] #234 closed

[2021-07-15 09:57] TheStarkster commented on #229
@plutoless i am using agora's test token and channel im still getting this error

[2021-07-15 09:58] TheStarkster commented on #233
even if i ignore that i am not able to listen from audience role

[2021-07-15 22:21] LichKing-2234 commented on #233
@TheStarkster Sorry, I don't understand. Could you pls explain your issue?

[2021-07-15 23:35] TheStarkster commented on #233
@LichKing-2234 Nevermind its resolved, thanks!

[2021-07-15 23:39] LichKing-2234 commented on #233
@TheStarkster Cloud you pls share the cause, it may help other developers, thanks!

[2021-07-16 06:27] TheStarkster commented on #233
for the error `type=1400 audit(0.0:4953): avc: denied { read } for name="temp" dev="sysfs" ino=13781 .....`
i just make sure that i am asking for permission (mic permission) using permission handler package, because without that, when i explicitly provide mic permission (from device's settings) to the app it works

and for __token error__ there's possibility that @Akifcan may've not enabled APP ce

[2021-07-19 13:03] vovskill opened #235 "Thanks with your project."
Thank you for your github agora project.
This helps me a lot.
I did 'flutter run' with the Android stuido emulator (android version is 11) but the emulator shows only black screen after join the channel.
Please help me.
Please let me know to fix this issue

[2021-07-19 13:42] #235 closed

[2021-07-19 13:43] vovskill commented on #235
Sorry
I found this issue fixed in the past.
Thank you

[2021-07-20 02:33] LichKing-2234 commented on #235
cloud you pls share your solution?

[2021-07-20 09:24] Akifcan commented on #233
i'm so sorry for delay but yes i enabled certificate and works fine :)

[2021-08-10 10:32] VocsyDikshit commented on #45
I have the same Issue using Agora sdk in flutter
error : java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object java.util.HashMap.put(java.lang.Object, java.lang.Object)' on a null object reference

is there any solution ??? for it?>>

[2021-08-10 10:43] LichKing-2234 commented on #45
@VocsyDikshit Which version of our SDK you used? and which method throws this exception?

[2021-08-10 15:15] KhalidScrypt commented on #177
Issue is closed but I had another case with Black screen and couldn't find any solution on internet.
Make sure you're not building the views widget RtcLocalView.SurfaceView() or RtcRemoteView.SurfaceView() before you finish the initialization.
When following the example in Agora.io blog, I just had to add:
`initialized
              ? _viewRows()
              : Container(
                  height

[2021-08-10 18:26] cachecake404 opened #236 "Extra Positional Arguments - configuration.dimensions = VideoDimensions(1920, 1080)"
**The application fails to run due to the following error:**
[code]

**The solution was to comment out Line 62 in pages/call.dart**
[code]

**Fixing this I can run the application then join video with a channel name as a broadcaster or audience but then I get a token error**
[code]

**_What is required to fix this? Why does the project have the positional error by default?_**

[2021-08-10 21:07] mfurkanyuceal commented on #101
I'm waiting too...

[2021-08-11 02:47] LichKing-2234 commented on #101
We support Screen sharing on the Web and Desktop platforms, you can follow the `dev/flutter2` branch.

For Android, We support it on the next-generation SDK, but because of the system limitations, not support for iOS.

[2021-08-11 02:49] LichKing-2234 commented on #236
Pls refer to our doc or our example.
https://docs.agora.io/en/Video/release_flutter_video?platform=Flutter#videodimension

[2021-08-11 02:49] #236 closed

[2021-08-11 05:20] VocsyDikshit commented on #45
I'am Currently using flutter 2.0.6 sdk
error eception:
 AgoraRtcEngine.onError = (dynamic code) {
      print('failed ++ ');
      setState(() {
        final info = 'onError: $code';
        _infoStrings.add(info);
      });
    };

[2021-08-11 05:22] VocsyDikshit commented on #45
onEvent: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Object java.util.HashMap.put(java.lang.Object, java.lang.Object)' on a null object reference

i'am using flutter sdk 2.0.6

[2021-08-11 05:24] VocsyDikshit commented on #45
await _initAgoraRtcEngine();
    _addAgoraEventHandlers();
    await AgoraRtcEngine.enableWebSdkInteroperability(true);
    VideoEncoderConfiguration configuration = VideoEncoderConfiguration();
    configuration.dimensions = Size(1920, 1080);
    await AgoraRtcEngine.setVideoEncoderConfiguration(configuration);
    await AgoraRtcEngine.joinChannel(
        "token from agora",
        widget.chann

[2021-08-11 05:25] VocsyDikshit commented on #45
Reply Please

[2021-08-11 05:29] VocsyDikshit commented on #45
The real Problem is when I video call to other mobile Device it is not connecting to the Other Device as Video but It's showing my own camera! as a Video call..

[2021-08-11 06:06] LichKing-2234 commented on #45
@VocsyDikshit The 2.0.6 version is out-of-date, pls follow our example to migrate to the latest version.

[2021-08-11 08:26] VocsyDikshit commented on #45
I really Don't think migrating to a newer Version will Resolve my error as I have Already Migrated and tried once! It Shows the Same  I Personally think I might have Agora sdk installation error or my Code error!

at Last my videos call app Video Switching from one Device to other Device isn't working !

[2021-08-11 08:27] VocsyDikshit commented on #45
Is there Any way I can resolve my Error and have Working Functionality?

[2021-08-11 08:30] LichKing-2234 commented on #45
@VocsyDikshit you can try our example first.
https://github.com/AgoraIO/Agora-Flutter-SDK/tree/master/example

[2021-08-11 08:55] VocsyDikshit commented on #45
What should I place in uid and String Uid in example code

[2021-08-11 08:58] VocsyDikshit commented on #45
What should I place in uid and String Uid in example code??

[2021-08-11 09:06] LichKing-2234 commented on #45
you can special it by yourself.

[2021-08-11 09:55] VocsyDikshit commented on #45
Yes I have Tried Your Example and it Works fluently! But The Code I have Done and Yours Are Different
ex:
    your-    await _engine.joinChannel(config.token, config.channelId, null, 0, null);
    mine;    await AgoraRtcEngine.joinChannel(null, widget.channelName, null, 0);

what might be the Difference ?

[2021-08-11 09:56] VocsyDikshit commented on #45
???

[2021-08-11 10:21] LichKing-2234 commented on #45
@VocsyDikshit you can replace the uid and stringUid with any value.

[2021-08-11 10:38] VocsyDikshit commented on #45
As my Video Chat Application is online my Token is generating from Server, I am Passing null value from join Channel function
What if my Token Generation fails to generate and showing this Error? By this Reason the Videos might be not Switching to other Device? What are your thinking about it?

[2021-08-11 11:05] LichKing-2234 commented on #45
if you enable certificate, you must use token to join channel. you can get more info by searching on our official website.

[2021-08-16 12:45] JittuPrimo commented on #177
Make sure you have allow camera permission.

[2021-08-18 18:14] viztushar opened #237 "CallKeep With agora?"
please provide example for [callkeep](https://pub.dev/packages/callkeep)  with agora. for all the case like
app in
- foreground mode.
- background mode.
- kill or terminated mode.

how to implement callkeep for the background and app terminated case like how to join the channel with those case?

[2021-08-19 02:07] LichKing-2234 commented on #237
just enable callkeep.

[2021-08-19 06:43] viztushar commented on #237
i have enable callkeep but for the app killed/terminated case its not connecting to the agora channel.

[2021-08-19 06:53] LichKing-2234 commented on #237
https://pub.dev/packages/callkeep#faq

[2021-08-19 06:55] viztushar commented on #237
Yes have implemented that but still not working

On Thu, 19 Aug 2021 at 12:23 PM, Arthas ***@***.***> wrote:

--
Tushar Parmar | Mobile Application Developer
a: viztushar | Vadodara
e: ***@***.*** | w: viztushar.dev <http://viztushar.dev/>
m: +918460428047
[image: facebook icon] <https://www.facebook.com/viztusharp> [image:
twitter icon] <https://twitter.com/viztushar> [image: linkedin icon]
<http

[2021-08-24 20:57] swarupbhanjachowdhury opened #238 "PlatformException (PlatformException(4, not supported, null, null))"
PlatformException (PlatformException(4, not supported, null, null))

![image](https://user-images.githubusercontent.com/55395995/130688770-ecabb718-e9e4-4383-9af8-b92824a9372d.png)

please help me with this issue, I'm stuck here

[2021-08-25 02:35] LichKing-2234 commented on #238
client role only support in live broadcasting channel profile.

[2021-08-25 02:36] #238 closed

[2021-08-29 11:38] aliasgarlabs commented on #149
https://github.com/flutter/flutter/issues/72887#issuecomment-907776844

[2021-08-31 07:20] lakshmiayinala commented on #92
Any updates on this ?.. I'm running through a similar use case where the app needs to show the list of the users(profile pic & username) who joined the channels. I feel this is a basic requirement for the platform to support. Please let me know if any possibility with Agora.

[2021-09-18 20:45] Nasirdev74 commented on #233
hi, I'm just trying to implement the demo. but I don't get it. how can I get my token??
what is the token used for??
I can't find anything about the new 'token' thing ..
Please help me with some doc or something.
thank you.

[2021-09-19 04:05] TheStarkster commented on #233
@Nasirdev74 you're supposed to pass the token in RtcEngine's `joinChannel` method. Check out [this code snippet](https://docs.agora.io/en/Voice/start_call_audio_flutter?platform=Flutter#4-define-app-states) and look at the last line of initPlatformState method

[2021-09-21 17:40] ziasultan2 opened #239 "Agora views not working"
I'm using  agora_rtc_engine : ^3.2.1   It was working previously but when I try to do this again its videos not showing but audio is working. Please let me know a solution

My dart sdk is   2.9.1

[2021-09-22 00:18] LichKing-2234 commented on #239
this demo is out of date, pls follow the example in the SDK.

[2021-09-22 01:31] ziasultan2 commented on #239
in your example the code is same as mine.. Do I need to update my agora version. My flutter version is 1.20 and agora version is 3.2.1

[code]

[2021-09-22 01:39] ziasultan2 commented on #239
Here is my full code. Please check and let me know if I'm missing somethhing

import 'dart:async';

import 'package:agora_rtc_engine/rtc_engine.dart';
import 'package:agora_rtc_engine/rtc_local_view.dart' as RtcLocalView;
import 'package:agora_rtc_engine/rtc_remote_view.dart' as RtcRemoteView;
import 'package:flutter/material.dart';
import 'package:get/get.dart';

import '../utils/setting.dart';

[2021-09-22 02:38] LichKing-2234 commented on #239
I mean this example https://github.com/AgoraIO/Agora-Flutter-SDK/tree/master/example

[2021-09-22 06:52] bayumoonfang commented on #20
Dude can u explain for this code ? i need auto generate token for my agora flutter

[2021-09-23 14:46] ziasultan2 commented on #239
what is the minimum flutter, and dart sdk version required for running latest agora_rtc_engine package

[2021-09-24 01:36] LichKing-2234 commented on #239
flutter 2
dart 1.13

[2021-09-24 02:36] LichKing-2234 commented on #239
you can get it from pubspec.yaml

[2021-09-27 13:32] HasanAlyazidi opened #240 "Agora example: `RtcRemoteView.SurfaceView` shows black screen"
Hello,

The issue is remote user's view `RtcRemoteView.SurfaceView(uid: remoteUid)` is not showing anything while `RtcLocalView.SurfaceView()` is working as intended.

### Screenshot
From the example in `Agora-Flutter-Quickstart`

![image](https://user-images.githubusercontent.com/7901330/134914231-f0156d6f-4a97-48e0-a556-9ba671546058.png)

### Expected Behavior
Local and remote views to be shown

[2021-09-28 02:11] LichKing-2234 commented on #240
this demo is out of date, pls refer to the example in the SDK repo.

[2021-09-28 02:47] #240 closed

[2021-09-28 15:54] anasssanba1 opened #241 "enableWebSdkInteroperability deprecated"

[2021-09-28 16:08] LichKing-2234 commented on #241
not need to call yet.

[2021-09-28 16:26] #241 closed

[2021-10-02 12:34] BakhtMunirUet commented on #2
@ValSbo can you tell me the dependency in info.plist. Because i am facing the same problem. Agora working on android but black screen on Ios

[2021-10-03 09:39] sadaqatkarimi opened #242 "cannot join channel after some elapsed time , we can only join in fix time"
cannot join channel after some elapsed time , we can only join in fix time . we not join channel after elapsed that fix time. how i fix the issue?

[2021-10-03 11:00] LichKing-2234 commented on #242
have you tried our example?

[2021-10-03 11:13] sadaqatkarimi commented on #242
yes i use example and i use server to get token , some time we can join channel but some time we are unable to join channel

[2021-10-03 13:43] LichKing-2234 commented on #242
token has expired time, pls double check it.

[2021-10-03 19:18] sadaqatkarimi commented on #242
solve i used one digit number in uid, if you used in uid greater than one digit than its not working

[2021-10-03 19:18] #242 closed

[2021-10-03 19:20] sadaqatkarimi opened #243 "Unhandled Exception: NoSuchMethodError: The getter '_handler' was called on null."

[2021-10-03 19:21] sadaqatkarimi commented on #243
when dispose and leave channel is call, above error occur

[2021-10-03 19:22] sadaqatkarimi commented on #243
package:agora_rtc_engine/src/rtc_engine.dart:15

[2021-10-08 02:44] LichKing-2234 commented on #243
I think you can ignore this error before it been fixed.

[2021-12-01 05:42] fldvlpr commented on #5
Any updates on this

[2021-12-01 06:48] LichKing-2234 commented on #5
@fldvlpr Support it already.

[2021-12-24 04:06] #237 closed

[2021-12-28 05:21] Khatri7yash commented on #209
Mostly the problem is with resolution, Resolution more then 720p will result into black screen in some devices so decrease the resolution to 720p because in my case that helps me a lot... like now that black screen issue is solved.... Hoping my answer become helpful to you guys :)

[2022-01-24 06:11] MasoomRaza752 opened #245 "Flutter initialization failed."
I use agora rtc engin 4.2.0 and it show me the error when i open my app after putting dependency 'agora_rtc_engine: ^4.0.7' and my app is crashing in debug mode and show the error

√  Built build\app\outputs\flutter-apk\app-debug.apk.
E/FlutterLoader(17183): Flutter initialization failed.
E/FlutterLoader(17183): java.util.concurrent.ExecutionException: java.lang.UnsatisfiedLinkError: dalvik.system

[2022-01-24 08:55] LichKing-2234 commented on #245
I can't get any error about our SDK, pls double-check your project.

[2022-01-24 08:56] LichKing-2234 commented on #245
BTW, you can refer to https://github.com/AgoraIO/Agora-Flutter-SDK/tree/master/example

[2022-01-24 11:57] MasoomRaza752 commented on #245
i use this code also in saprate but error is still there.

[2022-01-25 08:47] MasoomRaza752 commented on #245
when i use this line in my code :
      implementation 'io.agora.rtc:full-sdk:3.6.1.1'

it shows me this type off error plese guide me i'm stuck on it this is last stage of my project

   Duplicate class com.coloros.ocs.base.task.k found in modules jetified-full-sdk-3.6.1-runtime (io.agora.rtc:full-sdk:3.6.1.1) and jetified-native-full-sdk-3.5.2-runtime (com.github.agorabuilder:native-full-sdk:3.5

[2022-01-25 09:13] LichKing-2234 commented on #245
you can try to run our example first.

[2022-01-25 09:51] MasoomRaza752 commented on #245
i downlaod the code from agora quick start and try to run it just putting my app id and token and it shows the following error also

 Built build\app\outputs\flutter-apk\app-debug.apk.
E/FlutterLoader(15242): Flutter initialization failed.
E/FlutterLoader(15242): java.util.concurrent.ExecutionException: java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/data/app/

[2022-01-25 09:52] MasoomRaza752 commented on #245
Flutter initialization failed.
couldn't find "libflutter.so"

[2022-01-25 10:33] MasoomRaza752 commented on #245
what are the firewall requirments for this and how edit them?

[2022-01-26 04:41] MasoomRaza752 commented on #245
minSdkVersion 25
 targetSdkVersion 29
compileSdkVersion 31

please chek these value are right or wrong beacuse when i give minSdk to 31 my emulator shows minSdk is 25 and did not show any other error please guide about this

[2022-01-26 05:41] MasoomRaza752 opened #246 "Agora versions before null safety working well but versions with null safety giving the error. How to handle it."

[2022-01-26 09:03] Manishmg3994 commented on #53
how to remove hat send a image for that

[2022-01-26 09:05] Manishmg3994 commented on #55
same

[2022-01-27 06:23] LichKing-2234 commented on #246
any error log?

[2022-03-09 13:58] Anilkumar18 commented on #199
@LichKing-2234 I've come to do the same type of integration with Agora and DeepAR. And I don't have a clear view of how the raw data library can be used to integrate with DeepAR library.

Should I implement my library inside the AgoraRtcRawdataPlugin itself? Or should I do that in the example/android of the library? Can you please give any idea on how to use this plugin to accomplish the task?

[2022-03-28 02:49] anywheresa commented on #178
Wow, I have been struggling with this until I saw this post.
Agora really needs to sharpen their tutorials and docs. This stupid issue caused a lot of wasted time and Agora support not sharp either.

[2022-04-05 11:12] coder-Aayush commented on #149
Facing still the same issue.. how can I fix the issue..?

[2022-04-05 12:40] stevenosse commented on #149
Here is what i did:

rm -rf ios/Podfile ios/Podfile.lock
flutter pub get
flutter run

[2022-04-21 13:04] billy-the-fish opened #247 "Please migrate this repo to use Android embedding v2."
I just tried to run this repo. All that happened was I got a load of messages telling me to migrate to Android embedding v2. Can someone do the update so this repo just works please.

[2022-04-24 06:40] LichKing-2234 commented on #247
I think it already supports embedding v2.
https://github.com/AgoraIO-Community/Agora-Flutter-Quickstart/blob/master/android/app/src/main/AndroidManifest.xml#L35

[2022-05-14 02:36] Luckymartins3600 commented on #215
any update on this still having issues generating tokens for agora

[2022-05-30 08:05] MasoomRaza752 opened #248 "please give solution when publish my live stream to youtube or twitch it connected successfully but show black screen on both youtube and twitch"

[2022-05-30 08:07] #246 closed

[2022-05-30 08:19] MasoomRaza752 commented on #248
Future<void> initPlatformState() async {
    await [Permission.camera, Permission.microphone].request();
    RtcEngineContext context = RtcEngineContext(APP_ID);
    var engine = await RtcEngine.createWithContext(context);
    await engine.setRemoteDefaultVideoStreamType(VideoStreamType.Low);
    await engine.setRemoteSubscribeFallbackOption(StreamFallbackOptions.VideoStreamLow);
    // await engi

[2022-05-30 08:20] MasoomRaza752 commented on #248
this is my code

[2022-06-02 18:12] Sid1249 commented on #4
Can agora record a live stream from the camera and at the end of recording give me a link that I can save in firebase

My use case is that I want to allow user to record and save directly on cloud and can also access his recorded videos to view or delete them later.

[2022-08-05 13:41] maxxfrazer commented on #233
Closing due to inactivity

[2022-08-05 13:41] #233 closed

[2022-08-05 13:42] #180 closed

[2022-08-30 04:51] LichKing-2234 commented on #248
The uid of TranscodingUser is wrong

[2022-08-30 04:51] LichKing-2234 commented on #248
transcodingUsers.add(TranscodingUser(3));

[2022-08-30 04:51] LichKing-2234 commented on #248
Pls refer to doc

[2022-09-29 16:06] Priyanshu-Dubey98 opened #250 "real time messaging for flutter"
agora rtc content available but agora rtm flutter chat app not enough content available.
 please add agora chat conent for flutter with ui

[2022-10-05 11:51] ahmedelmwafy commented on #177
Make sure the Uid in Rtc remote view is the same with the user went live and the user joined to live

RtcRemoteView.SurfaceView( uid: uid, channelId:channelId, )

[2022-10-25 05:38] Shahir1730623 commented on #22
Can anyone tell me how to use these for flutter app

[2022-11-08 12:14] varunsdcet commented on #92
@lakshmiayinala ,have you get solution for this,

[2022-11-08 12:14] varunsdcet commented on #92
@LichKing-2234 I'm running through a similar use case where the app needs to show the list of the users(profile pic & username) who joined the channels. I feel this is a basic requirement for the platform to support. Please let me know if any possibility with Agora.

[2022-11-16 19:29] ghostbusters1dev commented on #229
have you found fix

[2022-11-30 02:41] LichKing-2234 commented on #250
Pls refer to https://github.com/AgoraIO/Agora-Flutter-RTM-SDK

[2022-11-30 02:41] #250 closed, assigned to nobody